.titulos__primaria {
  font-size: 60px;
}

.titulos__secundario {
  font-size: 50px;
}

.titulos__terciaria {
  font-size: 40px;
}

.titulos__normal {
  font-size: 30px;
}

.titulos__cuerpo {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Petrona", serif;
  font-size: 24px;
}

@-webkit-keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
@keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
/*HEADER / Nav-bar - igual en todas las secciones*/
header {
  width: 100%;
  height: none;
}

.navigation-container {
  background-image: linear-gradient(to bottom, rgb(134, 119, 96), #C2BAAD);
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin-top: none;
  margin-bottom: 5px;
  margin-left: none;
  margin-right: none;
  padding: 30px;
}

.navigation-container img {
  display: flex;
  color: #f5fffa;
  width: 500px;
  margin-left: 10px;
}

.scale-up-left {
  -webkit-animation: scale-up-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.navigation-container .nav-bar {
  display: flex;
  list-style: none;
  text-decoration: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.navigation-container .nav-bar li a {
  justify-content: space-between;
}

.navigation-container .nav-bar li a {
  color: #f5fffa;
  text-decoration: none;
  list-style: none;
  width: fit-content;
  display: flex;
  justify-content: end;
  margin-top: 5px;
  margin-bottom: none;
  margin-left: 15px;
  margin-right: 25px;
  padding: none;
}

.navigation-container .nav-bar li a:hover {
  background-color: #e4e4e4;
  color: #79aab5;
}

.logotype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background-image2.png);
  background-size: cover;
  background-position: center;
}

.logotype img {
  width: 250px;
  height: none;
}

.logotype a {
  color: #f5fffa;
  text-decoration: none;
}

.logotype a i {
  color: #f5fffa;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

h1 {
  display: flex;
  font-family: "Metal", serif;
  color: #e4e4e4;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
  align-content: center;
  justify-content: center;
}

h2 {
  display: flex;
  font-family: "Petrona", serif;
  color: #e4e4e4;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
  align-content: center;
  justify-content: center;
}

/*body-index*/
main {
  background-image: linear-gradient(to bottom, rgb(134, 119, 96), #C2BAAD);
  margin-top: 10px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.start-interaction {
  display: flex;
  flex-direction: column;
}

.start-interaction a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 55px;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.start-interaction p {
  font-family: "Petrona", serif;
  color: #f5fffa;
  font-style: normal;
  font-size: 18px;
  font-weight: 200;
}

.start-interaction img {
  width: 50%;
  height: none;
}

.presentacion {
  width: 2950px;
  height: 700px;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-sizing: border-box;
  background-color: #C2BAAD;
}

.presentacion .img {
  width: 50%;
  align-content: center;
}

.presentacion .img img {
  vertical-align: top;
  border-radius: 5px;
  width: 1200px;
  height: 600px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 15px;
  padding: 15px;
  border: #f5fffa 2px solid;
}

.producto-info {
  width: 50%;
  height: none;
  border-radius: 0px 7px 10px 7px;
  background: #f5fffa;
  background-color: #C2BAAD;
}

.producto-texto {
  width: 100%;
  height: none;
}

.producto-texto h1 {
  margin-top: 5px;
  margin-bottom: none;
  margin-left: 130px;
  margin-right: none;
  padding: 52px;
  font-size: 60px;
  color: #f5fffa;
}

.producto-texto h1,
.precio-btn {
  font-family: "Petrona", serif;
}

.producto-texto p {
  font-size: 35px;
  font-family: "Petrona", serif;
  color: #f5fffa;
  letter-spacing: 1.5px;
  width: none;
  height: 125px;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: none;
  margin-left: 38px;
  margin-right: none;
  padding: none;
}

.precio-btn {
  width: none;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 320px;
  margin-bottom: none;
  margin-left: 150px;
  margin-right: none;
  padding: none;
  text-align: center;
}

.precio-btn a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 350px;
  height: 50px;
  margin-top: -10px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
  font-family: "Petrona", serif;
  text-align: "Petrona", serif;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  align-content: center;
  color: #787673;
  text-decoration: none;
}

.precio-btn a:hover {
  background: #f5fffa;
  color: #79aab5;
}

button {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 350px;
  height: 50px;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  align-content: center;
  color: #787673;
}

button:hover {
  background: #f5fffa;
  color: #79aab5;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1000px;
  padding: 40px;
  grid-gap: 20px;
  margin-left: 20px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}

.gallery__item:nth-child(4) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}

.gallery__item:nth-child(5) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}

.services-options-container {
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.services-options-container a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 350px;
  height: 50px;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #787673;
}

.services-options-container a:hover {
  background: #f5fffa;
  color: #79aab5;
}

.services-options-container i {
  color: #f5fffa;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.services-options h5 {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  font-family: "Petrona", serif;
  letter-spacing: 3.5px;
  text-align: center;
  color: #f5fffa;
  margin-top: 50px;
  margin-bottom: 35px;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.services-options .paisajes {
  display: flex;
  font-size: 50px;
  font-style: italic;
  align-items: flex-end;
  background-size: 100%;
  width: 900px;
  height: 400px;
  margin: 15px;
  padding: 15px;
  border: #f5fffa 2px solid;
  float: left;
  transition: 0.5s;
  margin-left: 50px;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  color: #f5fffa;
  text-decoration: none;
  background-image: url(../images/faro-del-fin-del-mundo.jpg);
  background-position: center;
}

.services-options .paisajes:hover {
  transform: scale(1.2);
}

.services-options .acrobacias {
  display: flex;
  font-size: 50px;
  font-style: italic;
  align-items: flex-end;
  background-size: 100%;
  width: 900px;
  height: 400px;
  margin: 15px;
  padding: 15px;
  border: #f5fffa 2px solid;
  float: left;
  transition: 0.5s;
  margin-left: 50px;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  color: #f5fffa;
  text-decoration: none;
  background-image: url(../images/acrobacia-telas.jpg);
  background-position: center;
}

.services-options .acrobacias:hover {
  transform: scale(1.2);
}

.services-options .animales {
  display: flex;
  font-size: 50px;
  font-style: italic;
  align-items: flex-end;
  background-size: 100%;
  width: 900px;
  height: 400px;
  margin: 15px;
  padding: 15px;
  border: #f5fffa 2px solid;
  float: left;
  transition: 0.5s;
  margin-left: 50px;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  color: #f5fffa;
  text-decoration: none;
  background-image: url(../images/perro3.png);
  background-position: center;
}

.services-options .animales:hover {
  transform: scale(1.2);
}

.decorative-picture {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: none;
  margin-top: none;
  margin-bottom: none;
  margin-left: 35px;
  margin-right: 25px;
  padding: none;
  clear: both;
}

.decorative-picture .service-one {
  float: left;
  width: 900px;
  height: 900px;
  margin: 15px;
  padding: 15px;
  border: #f5fffa 2px solid;
}

.decorative-picture .service-two {
  float: left;
  width: 900px;
  height: 900px;
  margin: 15px;
  padding: 15px;
  border: #f5fffa 2px solid;
}

.decorative-picture .service-three {
  float: left;
  width: 900px;
  height: 900px;
  margin: 15px;
  padding: 15px;
  border: #f5fffa 2px solid;
}

.decorative-picture .service-four {
  float: left;
  width: 900px;
  height: 900px;
  margin: 15px;
  padding: 15px;
  border: #f5fffa 2px solid;
}

/*servicios*/
.button__sections__lugares {
  background-image: url(../images/portada-lugares.jpg);
  background-position: center center;
  text-align: center;
  color: #e4e4e4;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 450px;
  margin-top: 10px;
  transition: 1s;
}
.button__sections__lugares p {
  color: #e4e4e4;
  font-size: 80px;
  font-family: "Petrona", serif;
  font-style: italic;
}
.button__sections__lugares a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 350px;
  height: 50px;
  margin-top: none;
  margin-bottom: none;
  margin-left: 500px;
  margin-right: none;
  padding: none;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  justify-content: center;
  align-items: center;
  display: flex;
}
.button__sections__lugares a:hover {
  background: rgba(240, 240, 240, 0.9176470588);
  color: #79aab5;
  transform: scale(1.2);
}
.button__sections__arquitectura {
  background-image: url(../images/portada-arquitectura.jpg);
  background-position: center center;
  text-align: center;
  color: #f5fffa;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 450px;
  margin-top: 10px;
  transition: 1s;
}
.button__sections__arquitectura p {
  color: #e4e4e4;
  font-size: 80px;
  font-family: "Petrona", serif;
  font-style: italic;
}
.button__sections__arquitectura a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 350px;
  height: 50px;
  margin-top: none;
  margin-bottom: none;
  margin-left: 500px;
  margin-right: none;
  padding: none;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  justify-content: center;
  align-items: center;
  display: flex;
}
.button__sections__arquitectura a:hover {
  background: rgba(240, 240, 240, 0.9176470588);
  color: #79aab5;
  transform: scale(1.2);
}
.button__sections__acrobacias {
  background-image: url(../images/portada-acro.jpg);
  background-position: center center;
  text-align: center;
  color: #f5fffa;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 450px;
  margin-top: 10px;
  transition: 1s;
}
.button__sections__acrobacias p {
  color: #e4e4e4;
  font-size: 80px;
  font-family: "Petrona", serif;
  font-style: italic;
}
.button__sections__acrobacias a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 350px;
  height: 50px;
  margin-top: none;
  margin-bottom: none;
  margin-left: 500px;
  margin-right: none;
  padding: none;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  justify-content: center;
  align-items: center;
  display: flex;
}
.button__sections__acrobacias a:hover {
  background: rgba(240, 240, 240, 0.9176470588);
  color: #79aab5;
  transform: scale(1.2);
}
.button__sections__animales {
  background-image: url(../images/portada-animales.jpg);
  background-position: center center;
  text-align: center;
  color: #f5fffa;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 450px;
  margin-top: 10px;
  transition: 1s;
}
.button__sections__animales p {
  color: #e4e4e4;
  font-size: 80px;
  font-family: "Petrona", serif;
  font-style: italic;
}
.button__sections__animales a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 350px;
  height: 50px;
  margin-top: none;
  margin-bottom: none;
  margin-left: 500px;
  margin-right: none;
  padding: none;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  justify-content: center;
  align-items: center;
  display: flex;
}
.button__sections__animales a:hover {
  background: rgba(240, 240, 240, 0.9176470588);
  color: #79aab5;
  transform: scale(1.2);
}

/*galeria*/
.button__gallery {
  width: none;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: none;
  margin-left: 150px;
  margin-right: none;
  padding: none;
  max-width: 2950px;
}

.button__gallery a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  align-content: center;
  color: #787673;
  max-width: 2950px;
  transition: 1s;
}

.button__gallery a:hover {
  background: rgba(240, 240, 240, 0.9176470588);
  color: #79aab5;
  transform: scale(1.2);
}

.gallery-container-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1000px;
  padding: 40px;
  grid-gap: 20px;
}

.gallery__img__two {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__img__two:hover {
  transform: scale(1.1);
}

.gallery__item__two:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}

.gallery__item__two:nth-child(4) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}

.gallery__item__two:nth-child(5) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}

.carousel-inner {
  margin-top: none;
  margin-bottom: none;
  margin-left: none;
  margin-right: 50px;
  padding: 40px;
}

/*blog*/
.articles p {
  color: #f5fffa;
  font-family: "Petrona", serif;
  font-style: italic;
}

.bar-container {
  display: flex;
  flex-direction: column;
}

.bar-container h2 {
  color: #f5fffa;
  font-family: "Petrona", serif;
  font-style: italic;
  align-items: center;
  margin-top: 15px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.bar-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar-principal select {
  display: flex;
  flex-direction: row;
  margin-top: none;
  margin-bottom: none;
  margin-left: 70px;
  margin-right: none;
  padding: none;
}

.bar-principal form {
  display: flex;
  flex-direction: row;
  margin-top: none;
  margin-bottom: none;
  margin-left: 1300px;
  margin-right: none;
  padding: none;
}

/*botones*/
.card {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 35px;
  margin-right: 35px;
  padding: none;
  width: 18rem;
  height: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-items: center;
}

.card-container .card img {
  width: 430px;
  height: 250px;
}

.card-body p {
  text-align: justify;
}

.feeds {
  display: inline-block;
  margin-top: none;
  margin-bottom: 25px;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.feeds .feed i {
  margin-top: none;
  margin-bottom: none;
  margin-left: 30px;
  margin-right: none;
  padding: none;
  color: #787673;
}

.feeds .feed i:hover {
  background: #C2BAAD;
  color: #79aab5;
}

.feeds .feed i:visited {
  background: #f5fffa;
  background-color: #C2BAAD;
  color: #79aab5;
}

.buscador i {
  list-style: none;
  color: #f5fffa;
}

.articles p {
  font-family: "Petrona", serif;
  color: #f5fffa;
  font-style: italic;
}

/*contacto*/
.contacto-container {
  font-family: "Petrona", serif;
  color: #f5fffa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: none;
  margin-bottom: none;
  margin-left: 1250px;
  margin-right: none;
  padding: none;
  width: 1000px;
  height: none;
}

.contacto-container .subtitulo {
  font-family: "Petrona", serif;
  color: #f5fffa;
  font-style: italic;
  display: inline-block;
  margin-top: none;
  margin-bottom: none;
  margin-left: 740px;
  margin-right: none;
  padding: none;
}

.contacto-container .form {
  border-radius: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  clear: both;
  float: left;
  border: #f5fffa 2px solid;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 740px;
  margin-right: 25px;
  padding: 15px;
  width: 1000px;
  height: none;
}

.write {
  display: flex;
  flex-direction: column;
  clear: both;
  float: left;
  border: #f5fffa 2px solid;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 740px;
  margin-right: 5px;
  padding: 15px;
  width: 1000px;
  height: none;
}

.write iframe {
  width: 970px;
  height: 600px;
}

.write p {
  font-family: "Petrona", serif;
  color: #f5fffa;
}

.form-label1, .form-label2 {
  align-items: end;
}

.subtitulo h2 {
  font-family: "Petrona", serif;
  font-style: italic;
  display: inline-block;
  margin-top: none;
  margin-bottom: 0.5px;
  margin-left: 10px;
  margin-right: none;
  padding: none;
}

.img-container {
  display: flex;
  flex-direction: row;
  clear: both;
  margin-top: none;
  margin-bottom: none;
  margin-left: 35px;
  margin-right: 25px;
  padding: none;
  width: 300px;
  height: none;
}

.img-container .img img {
  float: left;
  border: #f5fffa 2px solid;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  width: 1200px;
  height: 1200px;
}

/*footer gral - igual en todos las secciones*/
footer {
  background-color: #C2BAAD;
  display: flex;
  font-size: 350px;
  flex-flow: wrap;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to top, rgb(134, 119, 96), #C2BAAD);
}

.network-links p {
  display: flex;
  flex-direction: column;
  color: #f5fffa;
  text-decoration: none;
  list-style: none;
  align-items: center;
  margin-top: 120px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.network-links a {
  display: inline-block;
  color: #f5fffa;
  text-decoration: none;
  list-style: none;
  align-items: center;
  margin-top: 60px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.network-links a i {
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: none;
  margin-bottom: none;
  margin-left: 40px;
  margin-right: 55px;
  padding: none;
}

.fa-brands .fa-linkedin-in {
  justify-content: center;
}

.navigation-end {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.navigation-end img {
  background-color: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
  width: 300px;
  height: none;
}

.navigation-end li {
  list-style: none;
  margin-top: 50px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.navigation-end li a {
  color: #f5fffa;
  text-decoration: none;
}

.copyright p {
  display: flex;
  color: #f5fffa;
  margin-top: 160px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

/* Index / Servicios  */
@media (min-width: 769px) and (max-width: 1200px) {
  /*Header*/
  .navigation-container {
    background-color: #787673;
    background-size: cover;
    flex-direction: column;
  }
  .navigation-container img {
    color: #f5fffa;
    justify-content: center;
    margin-top: none;
    margin-bottom: none;
    margin-left: 260px;
    margin-right: none;
    padding: none;
    width: 300px;
    height: none;
  }
  .navigation-container .nav-bar li a {
    justify-content: center;
    margin-top: 25px;
    margin-bottom: none;
    margin-left: none;
    margin-right: 15px;
    padding: none;
  }
  .navigation-container .nav-bar li a:hover {
    background-color: #f5fffa;
    color: #79aab5;
  }
  .logotype img {
    width: 150px;
    height: none;
  }
  .logotype a i {
    margin-top: 30px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  h1 {
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: none;
    margin-left: 30px;
    margin-right: none;
    padding: none;
  }
  h2 {
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  /*MainIndex*/
  main {
    background-color: #a39a88;
  }
  .start-interaction p {
    font-weight: 170px;
  }
  .presentacion {
    width: 740px;
    height: 500px;
  }
  .presentacion .img {
    width: 50%;
    height: none;
  }
  .presentacion .img img {
    border-radius: 0.5px;
    border: #f5fffa 1px solid;
    margin-top: 0px;
    margin-bottom: 95px;
    margin-left: 10px;
    margin-right: none;
    padding: 5px;
    width: 350px;
    height: 250px;
  }
  .producto-info {
    border-radius: 0px 7px 10px 7px;
    background: #f5fffa;
    background-color: #a39a88;
    width: 50%;
    height: none;
  }
  .producto-texto {
    width: 100%;
    height: 100%;
  }
  .producto-texto h1 {
    align-items: center;
    margin-top: none;
    margin-bottom: none;
    margin-left: 20px;
    margin-right: none;
    padding: 20px;
  }
  .producto-texto p {
    margin-top: 10px;
    margin-bottom: none;
    margin-left: 10px;
    margin-right: none;
    padding: none;
    width: none;
    height: 305px;
  }
  .precio-btn {
    margin-top: 60px;
    margin-bottom: none;
    margin-left: 150px;
    margin-right: none;
    padding: none;
    width: none;
    height: 200px;
  }
  .precio-btn a {
    height: 30px;
    width: 100px;
  }
  button {
    height: 30px;
    width: 150px;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 720px;
    grid-gap: 20px;
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 25px;
  }
  .gallery__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .services-options-container a {
    height: 30px;
    width: 200px;
    width: 200px;
    height: 30px;
  }
  .services-options .paisajes {
    float: none;
    transition: 0.5s;
    width: 720px;
    height: 300px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 25px;
    margin-right: none;
    padding: none;
  }
  .services-options .paisajes:hover {
    transform: scale(0.9);
  }
  .services-options .acrobacias {
    float: none;
    transition: 0.5s;
    width: 720px;
    height: 300px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 25px;
    margin-right: none;
    padding: none;
  }
  .services-options .acrobacias:hover {
    transform: scale(0.9);
  }
  .services-options .animales {
    float: none;
    transition: 0.5s;
    width: 720px;
    height: 300px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 25px;
    margin-right: none;
    padding: none;
  }
  .services-options .animales:hover {
    transform: scale(0.9);
  }
  .decorative-picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50px;
    height: none;
  }
  .decorative-picture .service-one {
    width: 350px;
    height: 450px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0px;
    margin-right: none;
    padding: none;
  }
  .decorative-picture .service-two {
    width: 350px;
    height: 450px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0px;
    margin-right: none;
    padding: none;
  }
  .decorative-picture .service-three {
    width: 350px;
    height: 450px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0px;
    margin-right: none;
    padding: none;
  }
  .decorative-picture .service-four {
    width: 350px;
    height: 450px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0px;
    margin-right: none;
    padding: none;
  }
  /*servicios*/
  .button__sections__lugares {
    background-size: 900px 370px;
    text-align: center;
    color: #f5fffa;
    margin-top: 5px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 130px;
  }
  .button__sections__lugares p {
    text-align: center;
  }
  .button__sections__lugares a {
    text-align: center;
    margin-top: 0px;
    margin-bottom: none;
    margin-left: 210px;
    margin-right: none;
    padding: none;
    width: 200px;
    height: 30px;
  }
  .button__sections__arquitectura {
    background-size: 900px 370px;
    text-align: center;
    color: #f5fffa;
    margin-top: 5px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 130px;
  }
  .button__sections__arquitectura p {
    text-align: center;
  }
  .button__sections__arquitectura a {
    text-align: center;
    margin-top: 0px;
    margin-bottom: none;
    margin-left: 210px;
    margin-right: none;
    padding: none;
    width: 200px;
    height: 30px;
  }
  .button__sections__acrobacias {
    background-size: 900px 370px;
    text-align: center;
    color: #f5fffa;
    margin-top: 5px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 130px;
  }
  .button__sections__acrobacias p {
    text-align: center;
  }
  .button__sections__acrobacias a {
    text-align: center;
    margin-top: 0px;
    margin-bottom: none;
    margin-left: 210px;
    margin-right: none;
    padding: none;
    width: 200px;
    height: 30px;
  }
  .button__sections__animales {
    background-size: 900px 370px;
    text-align: center;
    color: #f5fffa;
    margin-top: 5px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 130px;
  }
  .button__sections__animales p {
    text-align: center;
  }
  .button__sections__animales a {
    text-align: center;
    width: 200px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: none;
    margin-left: 210px;
    margin-right: none;
    padding: none;
  }
  /*galeria*/
  .button__gallery {
    width: 350px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: none;
    margin-left: 220px;
    margin-right: none;
    padding: none;
  }
  .button__gallery a {
    width: 350px;
    height: 50px;
  }
  .gallery-container-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    max-width: 100%;
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 10px;
  }
  .carousel-inner {
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: 20px;
    padding: 15px;
  }
  /*blog*/
  .bar-container h2 {
    margin-top: 15px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .bar-principal {
    flex-direction: column;
  }
  .bar-principal select {
    margin-top: 15px;
    margin-bottom: none;
    margin-left: -73px;
    margin-right: none;
    padding: none;
  }
  .bar-principal form {
    margin-top: 15px;
    margin-bottom: none;
    margin-left: 60px;
    margin-right: none;
    padding: none;
  }
  .bar-principal form p input {
    margin-top: 15px;
    margin-bottom: none;
    margin-left: 105px;
    margin-right: none;
    padding: none;
    width: 400px;
    height: none;
  }
  .card {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    width: 350px;
    height: 700px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.card img {
  width: 350px;
  height: 200px;
}

/*contacto*/
.contacto-container {
  margin-top: none;
  margin-bottom: none;
  margin-left: 20px;
  margin-right: none;
  padding: none;
}

.form-container {
  width: 720px;
  height: none;
  margin-top: none;
  margin-bottom: none;
  margin-left: none;
  margin-right: 20px;
  padding: none;
}

.write {
  width: 720px;
  height: none;
}

.write iframe {
  width: 700px;
  height: 500px;
}

.col-lg-12 button {
  width: 1500px;
  height: 50px;
}

.img-container .img img {
  width: 720px;
  height: 720px;
  margin-top: 15px;
  margin-bottom: none;
  margin-left: 0px;
  margin-right: none;
  padding: 15px;
}

/*footer gral - igual en todos las secciones*/
footer {
  background-color: #a39a88;
  font-size: 200px;
  margin-top: 8px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.fa-brands .fa-linkedin-in {
  justify-content: center;
}

.navigation-end {
  margin-top: 15px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.navigation-end img {
  background-color: #a39a88;
  width: 200px;
  height: none;
  margin-top: 25px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.navigation-end li {
  margin-top: 30px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.copyright p {
  display: flex;
  color: #f5fffa;
  margin-top: 160px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

/* Index / Servicios  */
@media (min-width: 401px) and (max-width: 768px) {
  /*Header*/
  .navigation-container {
    background-color: #6c8b93;
    flex-direction: column;
  }
  .navigation-container img {
    width: 150px;
    height: none;
    margin-top: none;
    margin-bottom: none;
    margin-left: 150px;
    margin-right: none;
    padding: none;
  }
  .navigation-container .nav-bar {
    margin-top: 10px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 0.5px;
  }
  .navigation-container .nav-bar li a {
    font-size: 12.5px;
    justify-content: center;
  }
  .navigation-container .nav-bar li a:hover {
    background-color: #f5fffa;
    color: #6c8b93;
  }
  .logotype img {
    width: 100px;
    height: none;
  }
  .logotype a i {
    margin-top: 30px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  h1 {
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: none;
    margin-left: 20px;
    margin-right: none;
    padding: none;
  }
  /*MainIndex*/
  main {
    background-color: #6c8b93;
  }
  .start-interaction a {
    font-weight: 120px;
  }
  .start-interaction a button {
    width: 130px;
    height: 40px;
  }
  .presentacion {
    flex-direction: column-reverse;
    width: 370px;
    height: 350px;
  }
  .presentacion .img {
    width: 50%;
    height: none;
  }
  .presentacion .img img {
    border-radius: 5px;
    border: #f5fffa 1px solid;
    width: 350px;
    height: 250px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: none;
    padding: 5px;
  }
  .producto-info {
    width: 50%;
    height: none;
    border-radius: 0px 7px 10px 7px;
    background: #f5fffa;
    background-color: #6c8b93;
  }
  .producto-texto {
    width: 100%;
    height: none;
  }
  .producto-texto h1 {
    align-items: center;
    margin-top: none;
    margin-bottom: none;
    margin-left: 30px;
    margin-right: none;
    padding: 0px;
  }
  .producto-texto p {
    display: none;
  }
  .precio-btn {
    display: none;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    grid-gap: 20px;
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 20px;
  }
  .gallery__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .services-options-container a {
    width: 150px;
    height: 30px;
  }
  .services-options .paisajes {
    width: 370px;
    height: 200px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 18px;
    margin-right: none;
    padding: none;
  }
  .services-options .paisajes:hover {
    transform: scale(0.9);
  }
  .services-options .acrobacias {
    width: 370px;
    height: 200px;
  }
  .services-options .acrobacias:hover {
    transform: scale(0.9);
  }
  .services-options .animales {
    width: 370px;
    height: 200px;
  }
  .services-options .animales:hover {
    transform: scale(0.9);
  }
  .decorative-picture {
    flex-direction: column;
    width: 150px;
    height: none;
  }
  .decorative-picture .service-one {
    border: 1.5px solid #f5fffa;
    width: 360px;
    height: 450px;
    margin-top: none;
    margin-bottom: none;
    margin-left: -15px;
    margin-right: none;
    padding: 5px;
  }
  .decorative-picture .service-two {
    border: 1.5px solid #f5fffa;
    width: 360px;
    height: 450px;
    margin-top: none;
    margin-bottom: none;
    margin-left: -15px;
    margin-right: none;
    padding: 5px;
  }
  .decorative-picture .service-three {
    border: 1.5px solid #f5fffa;
    width: 360px;
    height: 450px;
    margin-top: none;
    margin-bottom: none;
    margin-left: -15px;
    margin-right: none;
    padding: 5px;
  }
  .decorative-picture .service-four {
    border: 1.5px solid #f5fffa;
    width: 360px;
    height: 230px;
    margin-top: none;
    margin-bottom: none;
    margin-left: -15px;
    margin-right: none;
    padding: 5px;
  }
  /*servicios*/
  .button__sections__lugares {
    background-size: 860px 350px;
    text-align: center;
    color: #f5fffa;
    margin-top: 0px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 130px;
  }
  .button__sections__lugares p {
    text-align: center;
  }
  .button__sections__lugares a {
    width: 150px;
    height: 30px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 10px;
    margin-right: none;
    padding: none;
  }
  .button__sections__arquitectura {
    background-size: 860px 350px;
    text-align: center;
    color: #f5fffa;
    margin-top: 0px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 130px;
  }
  .button__sections__arquitectura p {
    text-align: center;
  }
  .button__sections__arquitectura a {
    width: 150px;
    height: 30px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 10px;
    margin-right: none;
    padding: none;
  }
  .button__sections__acrobacias {
    background-size: 860px 350px;
    text-align: center;
    color: #f5fffa;
    margin-top: 0px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 130px;
  }
  .button__sections__acrobacias p {
    text-align: center;
  }
  .button__sections__acrobacias a {
    width: 150px;
    height: 30px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 10px;
    margin-right: none;
    padding: none;
  }
  .button__sections__animales {
    background-size: 860px 350px;
    text-align: center;
    color: #f5fffa;
    width: none;
    height: 100%;
    margin-top: 0px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 130px;
  }
  .button__sections__animales p {
    text-align: center;
  }
  .button__sections__animales a {
    width: 150px;
    height: 30px;
    margin-top: none;
    margin-bottom: none;
    margin-left: 10px;
    margin-right: none;
    padding: none;
  }
  /*galeria*/
  .button__gallery {
    max-width: 350px;
    width: none;
    height: 100%;
    margin-top: 10px;
    margin-bottom: none;
    margin-left: 20px;
    margin-right: none;
    padding: none;
  }
  .button__gallery a {
    width: 300px;
    height: 50px;
  }
  .gallery-container-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    max-width: 100%;
    margin-top: none;
    margin-bottom: none;
    margin-left: 5px;
    margin-right: none;
    padding: 0.5px;
  }
  .carousel-inner {
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: 20px;
    padding: 15px;
  }
  /*blog*/
  .bar-container h2 {
    margin-top: 15px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .bar-principal {
    flex-direction: column;
  }
  .bar-principal select {
    margin-top: 15px;
    margin-bottom: none;
    margin-left: -3px;
    margin-right: none;
    padding: none;
  }
  .bar-principal form {
    margin-top: 5px;
    margin-bottom: none;
    margin-left: 0px;
    margin-right: none;
    padding: none;
  }
  .bar-principal form p input {
    width: 385px;
    height: none;
    margin-top: 5px;
    margin-bottom: none;
    margin-left: 5px;
    margin-right: none;
    padding: none;
  }
  .card {
    width: 350px;
    height: 650px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: none;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card img {
    width: 350px;
    height: 200px;
  }
  /*contacto*/
  .contacto-container {
    margin-top: none;
    margin-bottom: none;
    margin-left: 0px;
    margin-right: none;
    padding: none;
  }
  .form-container {
    width: 370px;
    height: none;
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: 0.5px;
    padding: none;
  }
  .write {
    width: 370px;
    height: none;
  }
  .write iframe {
    width: 300px;
    height: 200px;
  }
  .col-lg-12 button {
    width: 100px;
    height: 50px;
  }
  .img-container .img img {
    width: 370px;
    height: 370px;
    margin-top: none;
    margin-bottom: none;
    margin-left: -15px;
    margin-right: none;
    padding: 5px;
  }
  /*footer gral - igual en todos las secciones*/
  footer {
    background-color: #6c8b93;
    font-size: 150px;
    margin-top: 8px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .fa-brands .fa-linkedin-in {
    justify-content: center;
  }
  .navigation-end {
    margin-top: 15px;
    margin-top: 15px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .navigation-end img {
    background-color: #6c8b93;
    width: 150px;
    height: none;
    margin-top: 25px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .navigation-end li {
    margin-top: 30px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .copyright p {
    display: flex;
    color: #f5fffa;
  }
}

/*# sourceMappingURL=main.css.map */
