.titulos__primaria {
  font-size: 6rem;
}

.titulos__secundario {
  font-size: 5rem;
}

.titulos__terciaria {
  font-size: 4rem;
}

.titulos__normal {
  font-size: 3rem;
}

.titulos__cuerpo {
  font-size: 2rem;
}

.titulos__formato {
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Petrona", serif;
  font-size: 1rem;
}

@-webkit-keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
@keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
}
/*HEADER / Nav-bar - igual en todas las secciones*/
header {
  width: 100%;
  height: none;
}

.navigation-container {
  background-image: linear-gradient(to bottom, rgb(134, 119, 96), #C2BAAD);
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin-top: none;
  margin-bottom: 5px;
  margin-left: none;
  margin-right: none;
  padding: 10px;
}
.navigation-container img {
  display: flex;
  color: #f5fffa;
  width: 25rem;
  height: 3rem;
  margin-top: 0.5rem;
  margin-bottom: none;
  margin-left: 2rem;
  margin-right: none;
  padding: none;
}
.navigation-container .nav-bar {
  display: flex;
  list-style: none;
  text-decoration: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
.navigation-container .nav-bar li a {
  justify-content: space-between;
  color: #f5fffa;
  text-decoration: none;
  list-style: none;
  width: fit-content;
  display: flex;
  justify-content: end;
  margin-top: 5px;
  margin-bottom: none;
  margin-left: 15px;
  margin-right: 25px;
  padding: 10px;
  border-radius: 30px;
}
.navigation-container .nav-bar li a:hover {
  background-color: #e4e4e4;
  color: #79aab5;
}

.scale-up-left {
  -webkit-animation: scale-up-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.logotype {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background-image2.png);
  background-size: cover;
  background-position: center;
}
.logotype img {
  width: 250px;
  height: none;
}
.logotype a {
  color: #f5fffa;
  text-decoration: none;
}
.logotype a i {
  color: #f5fffa;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

h1 {
  display: flex;
  font-family: "Metal", serif;
  color: #e4e4e4;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
  align-content: center;
  justify-content: center;
}

h2 {
  display: flex;
  font-family: "Petrona", serif;
  color: #e4e4e4;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
  align-content: center;
  justify-content: center;
}

/*body-index*/
main {
  background-image: linear-gradient(to bottom, rgb(134, 119, 96), #C2BAAD);
  margin-top: 10px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.start-interaction {
  display: flex;
  flex-direction: column;
}
.start-interaction a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 55px;
  margin-left: none;
  margin-right: none;
  padding: none;
}
.start-interaction p {
  font-family: "Petrona", serif;
  color: #f5fffa;
  font-style: normal;
  font-size: 18px;
  font-weight: 200;
}
.start-interaction img {
  width: 50%;
  height: none;
}

.presentacion {
  width: 72rem;
  height: 40rem;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-sizing: border-box;
  background-color: #C2BAAD;
}
.presentacion .img {
  width: 50%;
  align-content: center;
}
.presentacion .img img {
  vertical-align: top;
  border-radius: 5px;
  width: 33rem;
  height: 23rem;
  margin-top: 5.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 1.5rem;
  padding: 0.5rem;
  border: #f5fffa 2px solid;
}

.producto-info {
  width: 50%;
  height: none;
  border-radius: 0px 7px 10px 7px;
  background: #f5fffa;
  background-color: #C2BAAD;
}

.producto-texto {
  width: 100%;
  height: none;
}
.producto-texto h1 {
  margin-top: 0.5rem;
  margin-bottom: none;
  margin-left: 0.5rem;
  margin-right: none;
  padding: 1.5rem;
  font-size: 2.5rem;
  color: #f5fffa;
}
.producto-texto p {
  font-size: 1.25rem;
  font-family: "Petrona", serif;
  color: #f5fffa;
  letter-spacing: 1.5px;
  width: none;
  height: 125px;
  text-align: justify;
  margin-top: 0.5rem;
  margin-bottom: none;
  margin-left: 1rem;
  margin-right: none;
  padding: none;
}

.producto-texto h1,
.precio-btn {
  font-family: "Petrona", serif;
}

.precio-btn {
  width: none;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-top: 18rem;
  margin-bottom: none;
  margin-left: 15rem;
  margin-right: none;
  padding: none;
  text-align: center;
}
.precio-btn a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 350px;
  height: 50px;
  margin-top: -10px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
  font-family: "Petrona", serif;
  text-align: "Petrona", serif;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  align-content: center;
  color: #787673;
  text-decoration: none;
}
.precio-btn a:hover {
  background: #f5fffa;
  color: #79aab5;
}

button {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 350px;
  height: 50px;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  align-content: center;
  color: #787673;
}
button:hover {
  background: #f5fffa;
  color: #79aab5;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  padding: 25px;
  grid-gap: 20px;
  grid-template-rows: 40rem;
}
.gallery-container .gallery__item:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.gallery-container .gallery__item:nth-child(4) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.gallery-container .gallery__item:nth-child(5) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.gallery-container .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-options-container {
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.services-options-container a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 350px;
  height: 50px;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #787673;
}
.services-options-container a:hover {
  background: #f5fffa;
  color: #79aab5;
}
.services-options-container i {
  color: #f5fffa;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.services-options h5 {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  font-family: "Petrona", serif;
  letter-spacing: 3.5px;
  text-align: center;
  color: #f5fffa;
  margin-top: 50px;
  margin-bottom: 35px;
  margin-left: none;
  margin-right: none;
  padding: none;
}
.services-options .paisajes {
  display: flex;
  font-size: 2rem;
  font-style: italic;
  align-items: flex-end;
  background-size: 100%;
  width: 23rem;
  height: 12rem;
  margin: 15px;
  padding: 5px;
  border: #f5fffa 2px solid;
  float: left;
  transition: 0.5s;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  color: #f5fffa;
  text-decoration: none;
  background-image: url(../images/faro-del-fin-del-mundo.jpg);
  background-position: center;
}
.services-options .paisajes:hover {
  transform: scale(1.2);
}
.services-options .acrobacias {
  display: flex;
  font-size: 2rem;
  font-style: italic;
  align-items: flex-end;
  background-size: 100%;
  width: 23rem;
  height: 12rem;
  margin: 15px;
  padding: 5px;
  border: #f5fffa 2px solid;
  float: left;
  transition: 0.5s;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  color: #f5fffa;
  text-decoration: none;
  background-image: url(../images/acrobacia-telas.jpg);
  background-position: center;
}
.services-options .acrobacias:hover {
  transform: scale(1.2);
}
.services-options .animales {
  display: flex;
  font-size: 2rem;
  font-style: italic;
  align-items: flex-end;
  background-size: 100%;
  width: 23rem;
  height: 12rem;
  margin: 15px;
  padding: 5px;
  border: #f5fffa 2px solid;
  float: left;
  transition: 0.5s;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  color: #f5fffa;
  text-decoration: none;
  background-image: url(../images/perro3.png);
  background-position: center;
}
.services-options .animales:hover {
  transform: scale(1.2);
}

.decorative-picture {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: none;
  margin-top: none;
  margin-bottom: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: none;
  clear: both;
}
.decorative-picture .service-one {
  float: left;
  width: 19rem;
  height: 25rem;
  padding: 5px;
  margin: 8px;
  border: #f5fffa 2px solid;
}
.decorative-picture .service-two {
  float: left;
  width: 19rem;
  height: 25rem;
  padding: 5px;
  margin: 8px;
  border: #f5fffa 2px solid;
}
.decorative-picture .service-three {
  float: left;
  width: 19rem;
  height: 25rem;
  padding: 5px;
  margin: 8px;
  border: #f5fffa 2px solid;
}
.decorative-picture .service-four {
  float: left;
  width: 19rem;
  height: 25rem;
  padding: 5px;
  margin: 8px;
  border: #f5fffa 2px solid;
}

/*servicios*/
.button__sections__lugares {
  background-image: url(../images/portada-lugares.jpg);
  background-position: center center;
  text-align: center;
  color: #e4e4e4;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-top: 10px;
  transition: 1s;
  padding: 15rem;
}
.button__sections__lugares p {
  color: #e4e4e4;
  font-size: 4rem;
  font-family: "Petrona", serif;
  font-style: italic;
  padding: 20rem;
}
.button__sections__lugares a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem;
  width: 13rem;
  height: 3rem;
  margin-top: -20rem;
  margin-bottom: none;
  margin-left: 20rem;
  margin-right: none;
  padding: none;
}
.button__sections__lugares a:hover {
  background: rgba(240, 240, 240, 0.9176470588);
  color: #223336;
  transform: scale(1.2);
}
.button__sections__arquitectura {
  background-image: url(../images/portada-arquitectura.jpg);
  background-position: center center;
  text-align: center;
  color: #f5fffa;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-top: 10px;
  transition: 1s;
  padding: 15rem;
}
.button__sections__arquitectura p {
  color: #e4e4e4;
  font-size: 4rem;
  font-family: "Petrona", serif;
  font-style: italic;
  padding: 20rem;
}
.button__sections__arquitectura a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 13rem;
  height: 3rem;
  margin-top: -20rem;
  margin-bottom: none;
  margin-left: 24rem;
  margin-right: none;
  padding: none;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  justify-content: center;
  align-items: center;
  display: flex;
}
.button__sections__arquitectura a:hover {
  background: rgba(240, 240, 240, 0.9176470588);
  color: #223336;
  transform: scale(1.2);
}
.button__sections__acrobacias {
  background-image: url(../images/portada-acro.jpg);
  background-position: center center;
  text-align: center;
  color: #f5fffa;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-top: 10px;
  transition: 1s;
  padding: 15rem;
}
.button__sections__acrobacias p {
  color: #e4e4e4;
  font-size: 4rem;
  font-family: "Petrona", serif;
  font-style: italic;
  padding: 20rem;
}
.button__sections__acrobacias a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 13rem;
  height: 3rem;
  margin-top: -20rem;
  margin-bottom: none;
  margin-left: 24rem;
  margin-right: none;
  padding: none;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  justify-content: center;
  align-items: center;
  display: flex;
}
.button__sections__acrobacias a:hover {
  background: rgba(240, 240, 240, 0.9176470588);
  color: #223336;
  transform: scale(1.2);
}
.button__sections__animales {
  background-image: url(../images/portada-animales.jpg);
  background-position: center center;
  text-align: center;
  color: #f5fffa;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-top: 10px;
  transition: 1s;
  padding: 15rem;
}
.button__sections__animales p {
  color: #e4e4e4;
  font-size: 4rem;
  font-family: "Petrona", serif;
  font-style: italic;
  padding: 20rem;
}
.button__sections__animales a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  width: 13rem;
  height: 3rem;
  margin-top: -20rem;
  margin-bottom: none;
  margin-left: 22rem;
  margin-right: none;
  padding: none;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  justify-content: center;
  align-items: center;
  display: flex;
}
.button__sections__animales a:hover {
  background: rgba(240, 240, 240, 0.9176470588);
  color: #223336;
  transform: scale(1.2);
}

/*galeria*/
.button__gallery {
  width: none;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: none;
  margin-left: 150px;
  margin-right: none;
  padding: none;
  max-width: 2950px;
}
.button__gallery a {
  border-radius: 60px;
  line-height: 25px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Petrona", serif;
  text-align: center;
  text-decoration: none;
  background-color: #f5fffa;
  border: 2px solid #f5fffa;
  align-content: center;
  color: #787673;
  max-width: 2950px;
  transition: 1s;
}
.button__gallery a:hover {
  background: rgba(240, 240, 240, 0.9176470588);
  color: #223336;
  transform: scale(1.2);
}

.gallery-container-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  padding: 25px;
  grid-gap: 20px;
}

.gallery__img__two {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__img__two:hover {
  transform: scale(1.1);
}
.gallery__img__two:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.gallery__img__two:nth-child(4) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}
.gallery__img__two:nth-child(5) {
  grid-column-start: span 2;
  grid-row-start: span 1;
}

.carousel-container_slide {
  padding: 0.5rem;
  margin-top: 1rem;
  transition-duration: 0.6s;
}

/*blog*/
.articles p {
  color: #f5fffa;
  font-family: "Petrona", serif;
  font-style: italic;
}

.bar-container {
  display: flex;
  flex-direction: column;
}
.bar-container h2 {
  color: #f5fffa;
  font-family: "Petrona", serif;
  font-style: italic;
  align-items: center;
  margin-top: 15px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}

.bar-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bar-principal select {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  margin-top: none;
  margin-bottom: none;
  margin-left: 0.5rem;
  margin-right: none;
  padding: none;
}
.bar-principal form {
  display: flex;
  flex-direction: row;
  margin-top: none;
  margin-bottom: none;
  margin-left: 30rem;
  margin-right: none;
  padding: none;
}

.card {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
  padding: none;
  width: 17.5rem;
  height: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  justify-items: center;
  grid-auto-rows: auto;
  padding: 0.5rem;
  grid-gap: 20px;
}

.card img {
  width: 17.5rem;
  height: 13rem;
  padding: 0.25rem;
}

.card-body p {
  text-align: justify;
  font-size: 1.25rem;
}

.feeds {
  display: inline-block;
  margin-top: none;
  margin-bottom: 25px;
  margin-left: none;
  margin-right: none;
  padding: none;
}
.feeds .feed i {
  margin-top: none;
  margin-bottom: none;
  margin-left: 30px;
  margin-right: none;
  padding: none;
  color: #787673;
}
.feeds .feed i:hover {
  background: #C2BAAD;
  color: #79aab5;
}
.feeds .feed i:visited {
  background: #f5fffa;
  background-color: #C2BAAD;
  color: #79aab5;
}

.articles p {
  font-family: "Petrona", serif;
  color: #f5fffa;
  font-style: italic;
}

/*contacto*/
.contacto-container {
  padding: 0;
  font-family: "Petrona", serif;
  color: #f5fffa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: none;
  margin-bottom: none;
  margin-left: 72rem;
  margin-right: none;
  padding: 0;
  width: 80rem;
  height: none;
}
.contacto-container h2 {
  font-size: 2rem;
}
.contacto-container .subtitulo {
  font-family: "Petrona", serif;
  color: #f5fffa;
  font-style: italic;
  display: inline-block;
  margin-top: none;
  margin-bottom: none;
  margin-left: -40rem;
  margin-right: none;
  padding: none;
}
.contacto-container .form {
  border-radius: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: row;
  clear: both;
  float: left;
  border: #f5fffa 2px solid;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: -40rem;
  margin-right: 1.5rem;
  padding: 1.5rem;
  width: 50%;
  height: none;
}

.form-label1,
.form-label2 {
  align-items: end;
}

.write-container .write {
  display: flex;
  flex-direction: column;
  clear: both;
  float: left;
  border: #f5fffa 2px solid;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: -40rem;
  margin-right: 1.5rem;
  padding: 1.5rem;
  width: 50%;
  height: none;
}
.write-container .write iframe {
  width: 37rem;
  height: 40rem;
}
.write-container .write p {
  font-family: "Petrona", serif;
  color: #f5fffa;
}
.write-container .subtitulo h2 {
  font-family: "Petrona", serif;
  font-style: italic;
  display: inline-block;
  margin-top: none;
  margin-bottom: 0.5px;
  margin-left: 10px;
  margin-right: none;
  padding: none;
  font-size: 2rem;
}

.img-container {
  display: flex;
  flex-direction: row;
  clear: both;
  margin-top: none;
  margin-bottom: none;
  margin-left: 35px;
  margin-right: 25px;
  padding: none;
  width: 50%;
  height: none;
}
.img-container .img {
  margin-bottom: 50px;
}
.img-container .img img {
  float: left;
  border: #f5fffa 2px solid;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
  margin-right: 1.5rem;
  padding: 1.5rem;
  width: 45rem;
  height: 45rem;
}

/*footer gral - igual en todos las secciones*/
footer {
  background-color: #C2BAAD;
  display: flex;
  font-size: 350px;
  flex-flow: wrap;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.network-links p {
  display: flex;
  flex-direction: column;
  color: #f5fffa;
  text-decoration: none;
  list-style: none;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 120px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}
.network-links a {
  display: inline-block;
  color: #f5fffa;
  text-decoration: none;
  list-style: none;
  align-items: center;
  margin-top: 60px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}
.network-links a i {
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: none;
  margin-bottom: none;
  margin-left: 40px;
  margin-right: 55px;
  padding: none;
}
.network-links a i:hover {
  background-color: none;
  color: #79aab5;
}

.fa-brands .fa-linkedin-in {
  justify-content: center;
}

.navigation-end {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}
.navigation-end img {
  background-color: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
  width: 15rem;
  height: none;
}
.navigation-end ul li {
  list-style: none;
  margin-top: 3rem;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
}
.navigation-end ul li a {
  color: #f5fffa;
  text-decoration: none;
  font-size: 2rem;
}
.navigation-end ul li a:hover {
  background-color: none;
  color: #79aab5;
}

.copyright p {
  display: flex;
  color: #f5fffa;
  margin-top: 160px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  padding: none;
  font-size: 1.5rem;
}

/* Index / Servicios  */
@media (min-width: 769px) and (max-width: 1200px) {
  /*Header*/
  .navigation-container {
    background-size: cover;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(158, 144, 122), rgb(213, 206, 195));
  }
  .navigation-container img {
    color: #f5fffa;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 16rem;
    margin-right: none;
    padding: none;
    width: 15rem;
    height: 2.5rem;
  }
  .navigation-container .nav-bar {
    width: 90%;
  }
  .navigation-container .nav-bar ul {
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    padding: 0;
  }
  .navigation-container .nav-bar ul li a {
    justify-content: center;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0.5rem;
    margin-right: none;
    padding: none;
  }
  .navigation-container .nav-bar ul li a:hover {
    background-color: #f5fffa;
    color: #79aab5;
  }
  .logotype img {
    width: 25%;
    height: none;
  }
  .logotype a i {
    margin-top: 30px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  h1 {
    font-size: 1.5rem;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: none;
    margin-left: 30px;
    margin-right: none;
    padding: none;
  }
  h2 {
    font-size: 1rem;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  /*Main*/
  main {
    background-image: linear-gradient(to top, rgb(213, 206, 195), rgb(158, 144, 122));
  }
  .start-interaction button {
    width: 15rem;
    height: 2rem;
  }
  .start-interaction p {
    font-size: 0.5rem;
    font-weight: none;
  }
  .presentacion-container .presentacion {
    width: 45rem;
    height: 20rem;
    padding: 0;
  }
  .presentacion-container .presentacion .img {
    width: 20rem;
    height: 15rem;
  }
  .presentacion-container .presentacion .img img {
    border-radius: 0.5px;
    border: #f5fffa 1px solid;
    margin-top: 100px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: none;
    padding: 5px;
    width: 18rem;
    height: 12rem;
  }
  .presentacion-container .presentacion .producto-info {
    border-radius: 0px 7px 10px 7px;
    background: none;
    background-color: none;
    width: 50%;
    height: none;
  }
  .presentacion-container .presentacion .producto-info .producto-texto {
    width: 100%;
    height: 100%;
  }
  .presentacion-container .presentacion .producto-info .producto-texto h1 {
    font-size: 1rem;
    align-items: center;
    margin-top: none;
    margin-bottom: none;
    margin-left: 5px;
    margin-right: none;
    padding: 5px;
  }
  .presentacion-container .presentacion .producto-info .producto-texto p {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: none;
    margin-left: 10px;
    margin-right: none;
    padding: none;
    width: none;
    height: none;
  }
  .presentacion-container .presentacion .producto-info .precio-btn {
    display: none;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 25rem;
    grid-gap: 1rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0rem;
    margin-right: none;
    padding: 1.5rem;
  }
  .gallery__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .services-options-container a {
    height: 30px;
    width: 200px;
    width: 200px;
    height: 30px;
  }
  .services-options h5 {
    font-size: 2rem;
  }
  .services-options .paisajes {
    font-size: 2rem;
    float: none;
    transition: 0.5s;
    width: 40rem;
    height: 20rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 4rem;
    margin-right: 2rem;
    padding: 1rem;
  }
  .services-options .paisajes:hover {
    transform: scale(0.9);
  }
  .services-options .acrobacias {
    font-size: 2rem;
    float: none;
    transition: 0.5s;
    width: 40rem;
    height: 20rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 4rem;
    margin-right: 2rem;
    padding: 1rem;
  }
  .services-options .acrobacias:hover {
    transform: scale(0.9);
  }
  .services-options .animales {
    font-size: 2rem;
    float: none;
    transition: 0.5s;
    width: 40rem;
    height: 20rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 4rem;
    margin-right: 2rem;
    padding: 1rem;
  }
  .services-options .animales:hover {
    transform: scale(0.9);
  }
  .decorative-picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    margin-right: 0rem;
    padding: 0rem;
  }
  .decorative-picture .service-one {
    width: 20rem;
    height: 25rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0px;
    margin-right: none;
    padding: none;
  }
  .decorative-picture .service-two {
    width: 20rem;
    height: 25rem;
    margin-top: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: none;
    padding: none;
  }
  .decorative-picture .service-three {
    width: 20rem;
    height: 25rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0px;
    margin-right: none;
    padding: none;
  }
  .decorative-picture .service-four {
    width: 20rem;
    height: 25rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0px;
    margin-right: none;
    padding: none;
  }
  /*servicios*/
  .button__sections__lugares {
    padding: 5rem;
  }
  .button__sections__lugares p {
    font-size: 3rem;
    padding: 5rem;
  }
  .button__sections__lugares a {
    padding: 0.05rem;
    width: 13rem;
    height: 3rem;
    margin-top: -5rem;
    margin-bottom: none;
    margin-left: 13rem;
    margin-right: none;
    padding: none;
  }
  .button__sections__arquitectura {
    padding: 5rem;
  }
  .button__sections__arquitectura p {
    font-size: 3rem;
    padding: 5rem;
  }
  .button__sections__arquitectura a {
    padding: 0.05rem;
    width: 13rem;
    height: 3rem;
    margin-top: -5rem;
    margin-bottom: none;
    margin-left: 13rem;
    margin-right: none;
    padding: none;
  }
  .button__sections__acrobacias {
    padding: 5rem;
  }
  .button__sections__acrobacias p {
    font-size: 3rem;
    padding: 5rem;
  }
  .button__sections__acrobacias a {
    padding: 0.05rem;
    width: 13rem;
    height: 3rem;
    margin-top: -5rem;
    margin-bottom: none;
    margin-left: 13rem;
    margin-right: none;
    padding: none;
  }
  .button__sections__animales {
    padding: 5rem;
  }
  .button__sections__animales p {
    font-size: 3rem;
    padding: 5rem;
  }
  .button__sections__animales a {
    padding: 0.05rem;
    width: 13rem;
    height: 3rem;
    margin-top: -5rem;
    margin-bottom: none;
    margin-left: 13rem;
    margin-right: none;
    padding: none;
  }
  /*galeria*/
  .button__gallery {
    width: 350px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: none;
    margin-left: 220px;
    margin-right: none;
    padding: none;
  }
  .button__gallery a {
    width: 350px;
    height: 50px;
  }
  .gallery-container-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20rem;
    padding: 4rem;
    grid-gap: 20px;
    max-width: 100%;
    height: 100%;
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 10px;
  }
  .gallery__img__two {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery__img__two:hover {
    transform: scale(0.9);
  }
  .gallery__img__two:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__img__two:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__img__two:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .carousel-inner {
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: 0;
    padding: 0.05rem;
  }
  /*blog*/
  .bar-container h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .bar-principal {
    flex-direction: column;
  }
  .bar-principal select {
    font-size: 1.25rem;
    align-content: center;
    align-items: center;
  }
  .bar-principal form {
    margin-top: 0.5rem;
    margin-bottom: none;
    margin-left: 6rem;
    margin-right: none;
    padding: none;
  }
  .bar-principal form p input {
    margin-top: 0.5rem;
    margin-bottom: none;
    margin-left: 6rem;
    margin-right: none;
    padding: none;
    width: 400px;
    height: none;
  }
  .card-container {
    width: 20rem;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-container .card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    width: 21rem;
    height: auto;
  }
  .card-container .card img {
    width: 19rem;
    height: 12.5rem;
  }
  .card-container .card .card-body {
    height: auto;
  }
  .card-container .card .card-body p {
    font-size: 1.5rem;
  }
  /*contacto*/
  .contacto-container {
    width: 100%;
    height: 100%;
    margin-top: none;
    margin-bottom: none;
    margin-left: -40rem;
    margin-right: none;
    padding: 0.5rem;
  }
  .contacto-container .subtitulo {
    font-size: 2rem;
    margin-left: 61.5rem;
    width: 20rem;
  }
  .form-container {
    width: 24rem;
    height: none;
    margin-top: none;
    margin-bottom: none;
    margin-left: 61.5rem;
    margin-right: none;
    padding: none;
  }
  .form-container .form-case {
    width: 24rem;
    height: none;
  }
  .form-container .form-case .btn {
    width: 18rem;
    height: none;
  }
  .write {
    width: 24rem;
    height: auto;
    margin-top: none;
    margin-bottom: none;
    margin-left: 61.5rem;
    margin-right: none;
    padding: none;
  }
  .write iframe {
    width: 20rem;
    height: none;
  }
  .subtitulo h2 {
    font-size: 2rem;
    margin-left: 61.5rem;
    width: 7rem;
  }
  .img-container .img img {
    width: 21rem;
    height: auto;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0;
    margin-right: none;
    padding: none;
    align-items: center;
  }
  /*footer gral - igual en todos las secciones*/
  footer {
    background-image: linear-gradient(to top, rgb(158, 144, 122), rgb(213, 206, 195));
    background-color: #a39a88;
    font-size: 200px;
    margin-top: 8px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .network-links p {
    margin-top: 50px;
  }
  .fa-brands .fa-linkedin-in {
    justify-content: center;
  }
  .navigation-end {
    margin-top: 15px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .navigation-end img {
    background-color: none;
    width: 200px;
    height: none;
    margin-top: 25px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .navigation-end li {
    margin-top: 20px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .copyright p {
    display: flex;
    color: #f5fffa;
    margin-top: 50px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
}
/* Index / Servicios  */
@media (min-width: 401px) and (max-width: 768px) {
  /*Header*/
  .navigation-container {
    background-size: cover;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(121, 170, 181), rgb(202, 223, 227));
  }
  .navigation-container img {
    color: #f5fffa;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 6rem;
    margin-right: none;
    padding: none;
    width: 10rem;
    height: 1.8rem;
  }
  .navigation-container .nav-bar {
    width: 80%;
    flex-direction: column;
    align-items: start;
  }
  .navigation-container .nav-bar ul {
    margin-left: 0;
    margin-right: 0;
  }
  .navigation-container .nav-bar ul li a {
    font-size: 0.5rem;
  }
  .logotype img {
    width: 25%;
    height: none;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.75rem;
  }
  /*Main*/
  main {
    background-image: linear-gradient(to top, rgb(202, 223, 227), rgb(121, 170, 181));
  }
  .start-interaction button {
    width: 15rem;
    height: 2rem;
  }
  .start-interaction p {
    font-size: 0.5rem;
    font-weight: none;
  }
  .presentacion-container .presentacion {
    width: 23rem;
    height: 38rem;
    padding: 0;
    flex-direction: column;
    background-color: #a5bcc2;
  }
  .presentacion-container .presentacion .img {
    width: 20rem;
    height: 10rem;
  }
  .presentacion-container .presentacion .img img {
    border-radius: 0.5px;
    border: #f5fffa 1px solid;
    margin-top: 100px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: none;
    padding: 5px;
    width: 21.5rem;
    height: 14rem;
  }
  .presentacion-container .presentacion .producto-info {
    border-radius: 0px 7px 10px 7px;
    background: none;
    background-color: none;
    width: 50%;
    height: none;
  }
  .presentacion-container .presentacion .producto-info .producto-texto {
    width: 100%;
    height: 100%;
  }
  .presentacion-container .presentacion .producto-info .producto-texto h1 {
    font-size: 1rem;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: none;
    margin-left: 5px;
    margin-right: none;
    padding: 5px;
    width: 22rem;
    height: none;
  }
  .presentacion-container .presentacion .producto-info .producto-texto p {
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: none;
    margin-left: 0.5rem;
    margin-right: none;
    padding: none;
    width: 22rem;
    height: none;
  }
  .presentacion-container .presentacion .producto-info .precio-btn {
    display: none;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15rem;
    grid-gap: 1rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0rem;
    margin-right: none;
    padding: 1.5rem;
  }
  .gallery__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__item:nth-child(5) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
  .services-options-container a {
    height: 30px;
    width: 200px;
    width: 200px;
    height: 30px;
  }
  .services-options h5 {
    font-size: 2rem;
  }
  .services-options .paisajes {
    font-size: 2rem;
    float: none;
    transition: 0.5s;
    width: 22rem;
    height: 10rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 1.5rem;
    margin-right: 0;
    padding: 1rem;
  }
  .services-options .paisajes:hover {
    transform: scale(0.9);
  }
  .services-options .acrobacias {
    font-size: 2rem;
    float: none;
    transition: 0.5s;
    width: 22rem;
    height: 10rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 1.5rem;
    margin-right: 0;
    padding: 1rem;
  }
  .services-options .acrobacias:hover {
    transform: scale(0.9);
  }
  .services-options .animales {
    font-size: 2rem;
    float: none;
    transition: 0.5s;
    width: 22rem;
    height: 10rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: 1.5rem;
    margin-right: 0;
    padding: 1rem;
  }
  .services-options .animales:hover {
    transform: scale(0.9);
  }
  .decorative-picture {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    margin-right: 0rem;
    padding: 0rem;
  }
  .decorative-picture .service-one {
    width: 22rem;
    height: 28rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: -0.7rem;
    margin-right: none;
    padding: none;
  }
  .decorative-picture .service-two {
    width: 22rem;
    height: 28rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: -0.7rem;
    margin-right: none;
    padding: none;
  }
  .decorative-picture .service-three {
    width: 22rem;
    height: 28rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: -0.7rem;
    margin-right: none;
    padding: none;
  }
  .decorative-picture .service-four {
    width: 22rem;
    height: 28rem;
    margin-top: none;
    margin-bottom: none;
    margin-left: -0.7rem;
    margin-right: none;
    padding: none;
  }
  /*servicios*/
  .button__sections__lugares {
    padding: 5rem;
  }
  .button__sections__lugares p {
    font-size: 2rem;
    padding: 5rem;
  }
  .button__sections__lugares a {
    padding: 0.05rem;
    width: 13rem;
    height: 3rem;
    margin-top: -5rem;
    margin-bottom: none;
    margin-left: 3rem;
    margin-right: none;
    padding: none;
  }
  .button__sections__arquitectura {
    padding: 5rem;
  }
  .button__sections__arquitectura p {
    font-size: 2rem;
    padding: 5rem;
  }
  .button__sections__arquitectura a {
    padding: 0.05rem;
    width: 13rem;
    height: 3rem;
    margin-top: -5rem;
    margin-bottom: none;
    margin-left: 3rem;
    margin-right: none;
    padding: none;
  }
  .button__sections__acrobacias {
    padding: 5rem;
  }
  .button__sections__acrobacias p {
    font-size: 2rem;
    padding: 5rem;
  }
  .button__sections__acrobacias a {
    padding: 0.05rem;
    width: 13rem;
    height: 3rem;
    margin-top: -5rem;
    margin-bottom: none;
    margin-left: 3rem;
    margin-right: none;
    padding: none;
  }
  .button__sections__animales {
    padding: 5rem;
  }
  .button__sections__animales p {
    font-size: 2rem;
    padding: 5rem;
  }
  .button__sections__animales a {
    padding: 0.05rem;
    width: 13rem;
    height: 3rem;
    margin-top: -5rem;
    margin-bottom: none;
    margin-left: 3rem;
    margin-right: none;
    padding: none;
  }
  /*galeria*/
  .button__gallery {
    width: 350px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: none;
    margin-left: 220px;
    margin-right: none;
    padding: none;
  }
  .button__gallery a {
    width: 20rem;
    height: 3rem;
    margin-left: -11rem;
  }
  .gallery-container-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15rem;
    padding: 4rem;
    grid-gap: 20px;
    max-width: 100%;
    height: 100%;
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: 10px;
  }
  .gallery__img__two {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery__img__two:hover {
    transform: scale(0.9);
  }
  .gallery__img__two:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__img__two:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .gallery__img__two:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .carousel-inner {
    margin-top: none;
    margin-bottom: none;
    margin-left: none;
    margin-right: 0;
    padding: 0.05rem;
  }
  /*blog*/
  .bar-container h2 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .bar-principal {
    flex-direction: column;
  }
  .bar-principal select {
    font-size: 1rem;
    margin-left: 1.5rem;
  }
  .bar-principal form {
    font-size: 1rem;
    margin-left: 1.6rem;
  }
  .bar-principal form p input {
    margin-top: 0.5rem;
    margin-bottom: none;
    margin-left: 7rem;
    margin-right: none;
    padding: none;
    margin-left: 1.6rem;
    width: 20rem;
    height: none;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-container .card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: none;
    margin-right: none;
    padding: 1rem;
    width: 22rem;
    height: auto;
  }
  .card-container .card img {
    width: 20rem;
    height: 14rem;
  }
  /*contacto*/
  .contacto-container {
    width: 100%;
    height: 100%;
    margin-top: none;
    margin-bottom: none;
    margin-left: -40rem;
    margin-right: none;
    padding: 0.5rem;
  }
  .contacto-container .subtitulo {
    font-size: 1.5rem;
    margin-left: 42rem;
    width: 15rem;
  }
  .form-container {
    width: 21rem;
    height: none;
    margin-top: none;
    margin-bottom: none;
    margin-left: 41.5rem;
    margin-right: none;
    padding: none;
  }
  .form-container .form-case {
    width: 18rem;
    height: none;
  }
  .form-container .form-case .btn {
    width: 18rem;
    height: none;
  }
  .write {
    width: 21rem;
    height: auto;
    margin-top: none;
    margin-bottom: none;
    margin-left: 41.5rem;
    margin-right: none;
    padding: none;
  }
  .write iframe {
    width: 15rem;
    height: none;
  }
  .subtitulo h2 {
    font-size: 1.5rem;
    margin-left: 42rem;
    width: 15rem;
  }
  .img-container .img img {
    width: 21rem;
    height: auto;
    margin-top: none;
    margin-bottom: none;
    margin-left: 0;
    margin-right: none;
    padding: none;
    align-items: center;
  }
  /*footer gral - igual en todos las secciones*/
  footer {
    background-image: linear-gradient(to top, rgb(121, 170, 181), rgb(202, 223, 227));
    background-color: #a39a88;
    font-size: 200px;
    margin-top: 8px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .network-links p {
    margin-top: 50px;
  }
  .fa-brands .fa-linkedin-in {
    justify-content: center;
  }
  .navigation-end {
    margin-top: 15px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .navigation-end img {
    background-color: none;
    width: 200px;
    height: none;
    margin-top: 25px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .navigation-end li {
    margin-top: 20px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
  .copyright p {
    display: flex;
    color: #f5fffa;
    margin-top: 50px;
    margin-bottom: none;
    margin-left: none;
    margin-right: none;
    padding: none;
  }
}

/*# sourceMappingURL=main.css.map */
