/*contacto*/
.contacto-container {
    font-family: $cuerpo;
    color: $color-principal;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: $direccion-principal;
    width: 1000px;
    margin-left: 1250px;
}

.contacto-container .subtitulo {
    font-family: $cuerpo;
    color: $color-principal;
    font-size: 30px;
    font-style: italic;
    display: inline-block;
    margin-bottom: .5px;
    margin-left: 10px;

}

.contacto-container .form {
    border-radius: 10px;

}

.form-container {
    display: flex;
    justify-content: $posicion;

}

.form-container {
    display: flex;
    flex-direction: $direccion-secundaria;
    width: 1000px;
    margin-left: 35px;
    margin-right: 25px;
    clear: both;
    float: left;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
}


.write {
    display: flex;
    flex-direction: $direccion-principal;
    width: 1000px;
    margin-left: 35px;
    margin-right: 25px;
    clear: both;
    float: left;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
}

.write iframe {
    width: 970px;
    height: 600px;
}

.write p {
    font-family: $cuerpo;
    color: $color-principal;
    font-size: 25px;
}

.form-label1,
.form-label2 {
    align-items: end;
}

.subtitulo h2 {
    font-family: $cuerpo;
    color: $color-principal;
    font-size: 30px;
    font-style: italic;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: .5px;
}

.img-container {
    display: flex;
    flex-direction: $direccion-secundaria;
    width: 300px;
    margin-left: 35px;
    margin-right: 25px;
    clear: both;

}

.img-container .img img {
    float: left;
    width: 1200px;
    height: 1200px;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
}