/*body-index*/
main {
    background-image: linear-gradient(to bottom, rgb(134, 119, 96), $color-fondo);
    @include margenes (10px, none, none, none, none);
}

.start-interaction {
    display: flex;
    flex-direction: $direccion-principal;
    a {
        display: flex;
        flex-direction: $direccion-principal;
        justify-content: $posicion;
        align-items: $posicion;
        text-decoration: $decoracion;
        @include margenes (5px, 55px, none, none, none);
    }
    p {
        font-family: $cuerpo;
        color: $color-principal;
        font-style: normal;
        font-size: 18px;
        font-weight: 200;
    }
    img {
        @include espacios (50%, none);
    }
}

.presentacion {
    @include espacios (72rem, 40rem);
    @include presentacion;
    background-color: $color-fondo;
    .img {
        width: 50%;
        align-content: $posicion;
        img {
            vertical-align: top;
            border-radius: 5px;
            @include espacios (33rem, 23rem);
            @include margenes (5.5rem, 1.5rem, 2rem, 1.5rem, 0.5rem);
            border: $color-principal 2px solid;
        }
    }
}

.producto-info {
    @include espacios (50%, none);
    border-radius: 0px 7px 10px 7px;
    background: $color-principal;
    background-color: $color-fondo;
}

.producto-texto {
    @include espacios (100%, none);
    h1 {
        @include margenes (0.5rem, none, 0.5rem, none, 1.5rem);
        font-size: 2.5rem;
        color: $color-principal;
    }
    p {
        font-size: 1.25rem;
        font-family: $cuerpo;
        color: $color-principal;
        letter-spacing: 1.5px;
        @include espacios (none, 125px);
        text-align: justify;
        @include margenes (0.5rem, none, 1rem, none, none);
    }
}

.producto-texto h1,
.precio-btn {
    font-family: $cuerpo;
}

.precio-btn {
    @include espacios (none, 200px);
    display: flex;
    justify-content: $posicion;
    @include margenes (18rem, none, 15rem, none, none);
    text-align: $posicion;
    a {
        @include formato;
        @include espacios (350px, 50px);
        @include margenes (-10px, none, none, none, none);
        font-family: $cuerpo;
        text-align: $cuerpo;
        background-color: $color-principal;
        border: 2px solid $color-principal;
        align-content: $posicion;
        color: $btn-hover;
        text-decoration: $decoracion;
        &:hover {
            background: $color-principal;
            color: $color-hover;
        }
    }
}


button {
    @include formato;
    @include espacios (350px, 50px);
    font-family: $cuerpo;
    text-align: $posicion;
    text-decoration: $decoracion;
    background-color: $color-principal;
    border: 2px solid $color-principal;
    align-content: $posicion;
    color: $btn-hover;
    &:hover {
        background: $color-principal;
        color: $color-hover;
    }
}

.gallery-container {
    @include formato-grid;
    grid-template-rows: 30rem;
    .gallery {
        &__item {
            &:nth-child(1) {
                @include grilla-galeria;
            }
            &:nth-child(4) {
                @include grilla-galeria;
            }    
            &:nth-child(5) {
                @include grilla-galeria;
            }      
        }
        &__img {
            @include espacios (100%, 80%);
            object-fit: cover;
            height: 30rem;
        }
    }
}



.services-options-container {
    align-content: $posicion;
    display: flex;
    justify-content: $posicion;
    flex-direction: $direccion-principal;
    align-items: $posicion;
    a {
        @include formato;
        @include espacios (350px, 50px);
        font-family: $cuerpo;
        text-align: $posicion;
        text-decoration: $decoracion;
        background-color: $color-principal;
        border: 2px solid $color-principal;
        align-content: $posicion;
        display: flex;
        justify-content: $posicion;
        align-items: $posicion;
        color: $btn-hover;
        &:hover {
            background: $color-principal;
            color: $color-hover;
        }
    }
    i {
        color: $color-principal;
        font-size: 50px;
        @include margenes (50px, none, none, none, none);
    
    }
}

.services-options {
    h5 {
        display: flex;
        flex-direction: $direccion-principal;
        font-size: 60px;
        font-family: $cuerpo;
        letter-spacing: 3.5px;
        text-align: $posicion;
        color: $color-principal;
        @include margenes (50px, 35px, none, none, none);
    }
    .paisajes {
        @include btn-interactive;
        flex-direction: $direccion-secundaria;
        font-family: $btn;
        text-align: $posicion;
        justify-content: $posicion;
        color: $color-principal;
        text-decoration: $decoracion;
        background-image: url(../images/faro-del-fin-del-mundo.jpg);
        background-position: $posicion;
        &:hover {
            transform: scale(1.2);
        }
    }
    .acrobacias {
        @include btn-interactive;
        flex-direction: $direccion-secundaria;
        font-family: $btn;
        text-align: $posicion;
        justify-content: $posicion;
        color: $color-principal;
        text-decoration: $decoracion;
        background-image: url(../images/acrobacia-telas.jpg);
        background-position: $posicion;
        &:hover {
            transform: scale(1.2);
        }
    }
    .animales {
        @include btn-interactive;
        flex-direction: $direccion-secundaria;
        font-family: $btn;
        text-align: $posicion;
        justify-content: $posicion;
        color: $color-principal;
        text-decoration: $decoracion;
        background-image: url(../images/perro3.png);
        background-position: $posicion;
        &:hover {
            transform: scale(1.2);
        }
    }
}

.decorative-picture {
    display: flex;
    flex-direction: $direccion-secundaria;
    @include espacios (300px, none);
    @include margenes (none, none, 5px, 5px, none);
    clear: both;
    .service-one {
        @include decorative-img; 
    }
    .service-two {
        @include decorative-img;
    }
    .service-three {
        @include decorative-img;
    }
    .service-four {
        @include decorative-img;
    }
}
