/*servicios*/
.button {
    &__sections {
        &__lugares {
            background-image: url(../images/portada-lugares.jpg);
            background-position: $posicion $posicion;
            text-align: $posicion;
            color: $color-secundario;
            @include setting-img;
            p {
                @include secciones-texto;
            }
            a {
                @include formato;
                @include espacios (350px, 50px);
                @include margenes (none, none, 500px, none, none);
                font-family: $cuerpo;
                text-align: $posicion;
                text-decoration: $decoracion;
                background-color: $color-principal;
                border: 2px solid $color-principal;
                justify-content: $posicion;
                align-items: $posicion;
                display: flex;
            }
            a:hover {
                @include animacion-img;
            }
        }
        &__arquitectura {
            background-image: url(../images/portada-arquitectura.jpg);
            background-position: $posicion $posicion;
            text-align: $posicion;
            color: $color-principal;
            @include setting-img;
            p {
                @include secciones-texto;
            }
            a {
                @include formato;
                @include espacios (350px, 50px);
                @include margenes (none, none, 500px, none, none);
                font-family: $cuerpo;
                text-align: $posicion;
                text-decoration: $decoracion;
                background-color: $color-principal;
                border: 2px solid $color-principal;
                justify-content: $posicion;
                align-items: $posicion;
                display: flex;
            }
            a:hover {
                @include animacion-img;
            } 
        }
        &__acrobacias {
            background-image: url(../images/portada-acro.jpg);
            background-position: $posicion $posicion;
            text-align: $posicion;
            color: $color-principal;
            @include setting-img;
            p {
                @include secciones-texto;
            }
            a {
                @include formato;
                @include espacios (350px, 50px);
                @include margenes (none, none, 500px, none, none);
                font-family: $cuerpo;
                text-align: $posicion;
                text-decoration: $decoracion;
                background-color: $color-principal;
                border: 2px solid $color-principal;
                justify-content: $posicion;
                align-items: $posicion;
                display: flex;
                
            }
            a:hover {
                @include animacion-img;
            }
        }
        &__animales {
            background-image: url(../images/portada-animales.jpg);
            background-position: $posicion $posicion;
            text-align: $posicion;
            color: $color-principal;
            @include setting-img;
            p {
                @include secciones-texto;
            }
            a {
                @include formato;
                @include espacios (350px, 50px);
                @include margenes (none, none, 500px, none, none);
                font-family: $cuerpo;
                text-align: $posicion;
                text-decoration: $decoracion;
                background-color: $color-principal;
                border: 2px solid $color-principal;
                justify-content: $posicion;
                align-items: $posicion;
                display: flex;
            }
            a:hover {
                @include animacion-img;
            }            
        }
    }
}