/*blog*/
.articles {
    p {
        color: $color-principal;
        font-family: $cuerpo;
        font-size: map-get($fuentes, 20px);
        font-style: italic;
    }
}

.bar-container {
    display: flex;
    flex-direction: $direccion-principal;
    h2 {
        color: $color-principal;
        font-size: map-get($fuentes, 40px);
        font-family: $cuerpo;
        font-style: italic;
        align-items: $posicion;
        @include margenes (15px, none, none, none, none);
    }
}

.bar-principal {
    display: flex;
    flex-direction: $direccion-secundaria;
    align-items: $posicion;
    select {
        font-size: 1.5rem;
        display: flex;
        flex-direction: $direccion-secundaria;
        @include margenes (none, none, 0.5rem, none, none);
    }
    form {
        display: flex;
        flex-direction: $direccion-secundaria;
        @include margenes (none, none, 31.5rem, none, none);
    }    
}

.card {
    @include margenes (2.5rem, 2.5rem, 0.05rem, 0.05rem, none);
    @include espacios (17.5rem, none);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: $posicion;
    justify-items: $posicion;
    grid-auto-rows: auto;
    padding: 0.5rem;
    grid-gap: 20px;

}

.card {
    img{
        @include espacios (17.5rem, 13rem);
        padding: 0.25rem;
    }    
}

.card-body {
    p {
        text-align: justify;
        font-size: 1.25rem;
    }
}

.feeds {
    display: inline-block;
    @include margenes (none, 25px, none, none, none);
    .feed {
        i {
            @include margenes (none, none, 30px, none, none);
            color: $btn-hover;
            &:hover {
                    background: $color-fondo;
                    color: $color-hover;
            }
            &:visited {
                background: $color-principal;
                background-color: $color-fondo;
                color: $color-hover;
            }
        }
    }
}

.articles {
    p {
        font-family: $cuerpo;
        color: $color-principal;
        font-style: italic;
        font-size: map-get($fuentes, 2rem);
    }
}