/*body-index*/
main {
    background-color:$color-fondo;
    margin-top: 10px;
}


.start-interaction {
    display: flex;
    flex-direction: $direccion-principal;

}

.start-interaction a {
    display: flex;
    flex-direction: $direccion-principal;
    justify-content: $posicion;
    align-items: $posicion;
    text-decoration: $decoracion;
    margin-top: 5px;
    margin-bottom: 55px;
}

.start-interaction p {
    font-family: $cuerpo;
    color: $color-principal;
    font-style: normal;
    font-size: 18px;
    font-weight: 200;
}

.start-interaction img {
    width: 50%;
}

.presentacion {
    height: 700px;
    width: 2950px;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-sizing: border-box;
}

.presentacion .img {
    width: 50%;
    align-content: $posicion;

}

.presentacion .img img {
    vertical-align: top;
    border-radius: 5px;
    width: 1200px;
    height: 600px;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
    margin-left: 200px;
}

.producto-info {
    width: 50%;
    border-radius: 0px 7px 10px 7px;
    background: $color-principal;
    background-color: $color-fondo;
}

.producto-texto {
    width: 100%;
}

.producto-texto h1 {
    margin-left: 130px;
    padding-top: 52px;
    font-size: 60px;
    color: $color-principal;
    margin-top: 5px;
}

.producto-texto h1,
.precio-btn {
    font-family: $cuerpo;
}

.producto-texto p {
    margin-left: 38px;
    font-size: 35px;
    font-family: $cuerpo;
    color: $color-principal;
    letter-spacing: 1.5px;
    height: 125px;
    margin-top: 15px;
    text-align: justify;
    margin-left: 150px;

}

.precio-btn {
    height: 200px;
    display: flex;
    justify-content: $posicion;
    margin-top: 320px;
    margin-left: 150px;

}

.precio-btn a {
    height: 50px;
    width: 156px;
    border-radius: 60px;
    font-family: $cuerpo;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: $cuerpo;
    line-height: 25px;
    cursor: pointer;
    text-decoration: none;
    background-color: $color-principal;
    border: 2px solid $color-principal;
    align-content: center;
    color: $btn-hover;
}

.precio-btn a:hover {
    background: $color-principal;
    color: $color-hover;
}

button {
    height: 50px;
    width: 250px;
    border-radius: 60px;
    font-family: $cuerpo;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: $posicion;
    line-height: 25px;
    cursor: pointer;
    text-decoration: $decoracion;
    background-color: $color-principal;
    border: 2px solid $color-principal;
    align-content: $posicion;
    margin-top: 50px;
    color: $btn-hover;
}

button:hover {
    background: $color-principal;
    color: $color-hover;
}


.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1500px;
    padding: 40px;
    grid-gap: 20px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 1;
}

.gallery__item:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 1;
}

.gallery__item:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 1;
}

.services-options-container {
    align-content: $posicion;
    display: flex;
    justify-content: $posicion;
    flex-direction: $direccion-principal;
    align-items: $posicion;
}

.services-options-container a {
    height: 50px;
    width: 350px;
    border-radius: 60px;
    font-family: $cuerpo;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    text-align: $posicion;
    line-height: 25px;
    cursor: pointer;
    text-decoration: $decoracion;
    background-color: $color-principal;
    border: 2px solid $color-principal;
    align-content: $posicion;
    margin-top: 50px;
    display: flex;
    justify-content: $posicion;
    align-items: $posicion;
    color: $btn-hover;
}

.services-options-container a:hover {
    background: $color-principal;
    color: $color-hover;
}

.services-options-container i {
    color: $color-principal;
    font-size: 50px;
    margin-top: 50px;

}

.services-options h5 {
    display: flex;
    flex-direction: $direccion-principal;
    font-size: 60px;
    font-family: $cuerpo;
    letter-spacing: 3.5px;
    text-align: $posicion;
    color: $color-principal;
    margin-bottom: 35px;
    margin-top: 50px;
}


.services-options .paisajes {
    display: flex;
    flex-direction: $direccion-secundaria;
    font-size: 50px;
    font-family: $btn;
    font-style: italic;
    text-align: $posicion;
    justify-content: $posicion;
    align-items: flex-end;
    color: $color-principal;
    text-decoration: $decoracion;
    background-image: url(../images/faro-del-fin-del-mundo.jpg);
    background-position: $posicion;
    background-size: 100%;
    width: 900px;
    height: 400px;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
    float: left;
    margin-left: 85px;
    transition: 0.5s;
}

.services-options .paisajes:hover {
    transform: scale(1.2);
}

.services-options .acrobacias {
    display: flex;
    flex-direction: $direccion-secundaria;
    font-size: 50px;
    font-family: $btn;
    font-style: italic;
    text-align: $posicion;
    justify-content: $posicion;
    align-items: flex-end;
    color: $color-principal;
    text-decoration: $decoracion;
    background-image: url(../images/acrobacia-telas.jpg);
    background-position: $posicion;
    background-size: 100%;
    width: 900px;
    height: 400px;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
    float: left;
    transition: 0.5s;
}

.services-options .acrobacias:hover {
    transform: scale(1.2);
}

.services-options .animales {
    display: flex;
    flex-direction: $direccion-secundaria;
    font-size: 50px;
    font-family: $btn;
    font-style: italic;
    text-align: $posicion;
    justify-content: $posicion;
    align-items: flex-end;
    color: $color-principal;
    text-decoration: $decoracion;
    background-image: url(../images/perro3.png);
    background-position: $posicion;
    background-size: 100%;
    width: 900px;
    height: 400px;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
    float: left;
    transition: 0.5s;
}

.services-options .animales:hover {
    transform: scale(1.2);
}

.decorative-picture {
    display: flex;
    flex-direction: $direccion-secundaria;
    width: 300px;
    margin-left: 35px;
    margin-right: 25px;
    clear: both;

}

.decorative-picture .service-one {
    float: left;
    width: 900px;
    height: 900px;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
}

.decorative-picture .service-two {
    float: left;
    width: 900px;
    height: 900px;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
}

.decorative-picture .service-three {
    float: left;
    width: 900px;
    height: 900px;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
}

.decorative-picture .service-four {
    float: left;
    width: 900px;
    height: 900px;
    margin: 15px;
    padding: 15px;
    border: $color-principal 2px solid;
}