/*contacto*/
.contacto-container {
    padding: 0;
    font-family: $cuerpo;
    color: $color-principal;
    border-radius: 10px;
    display: flex;
    flex-direction: $direccion-principal;
    @include margenes (none, none, 75rem, none, 0);
    @include espacios (80rem, none);
    h2 {
        font-size: 2rem;
    }
    .subtitulo {
        font-family: $cuerpo;
        color: $color-principal;
        font-style: italic;
        display: inline-block;
        @include margenes (none, none, -20rem, none, none);
        font-size: map-get($fuentes, 20px);
    }
    .form {
        border-radius: 10px;
    }
}

.form-container {
    display: flex;
    justify-content: $posicion;
    display: flex;
    flex-direction: $direccion-secundaria;
    clear: both;
    float: left;
    border: $color-principal 2px solid;
    @include margenes (1.5rem, 1.5rem, -40rem, 1.5rem, 1.5rem);
    @include espacios (50%, none);
}

.write {
    display: flex;
    flex-direction: $direccion-principal;
    clear: both;
    float: left;
    border: $color-principal 2px solid;
    @include margenes (1.5rem, 1.5rem, -40rem, 1.5rem, 1.5rem);
    @include espacios (50%, none);
    iframe {
        @include espacios (37rem, 40rem);
    }
    p {
        font-family: $cuerpo;
        color: $color-principal;
    }
}

.form-label1,
.form-label2 {
    align-items: end;
}

.write-container {
    .subtitulo {
        h2 {
            font-family: $cuerpo;
            font-style: italic;
            display: inline-block;
            @include margenes (none, 0.5px, 10px, none, none);
            font-size: 2rem;
        }
    }    
}

.img-container {
    display: flex;
    flex-direction: $direccion-secundaria;
    clear: both;
    @include margenes (none, none, 35px, 25px, none);
    @include espacios (50%, none);
    .img {
        margin-bottom: 50px;
        img {
            float: left;
            border: $color-principal 2px solid;
            @include margenes (1.5rem, 1.5rem, 0, 1.5rem, 1.5rem);
            @include espacios (45rem, 45rem);
        }
    }
}