/*contacto*/
.contacto-container {
    font-family: $cuerpo;
    color: $color-principal;
    border-radius: 10px;
    display: flex;
    flex-direction: $direccion-principal;
    @include margenes (none, none, 1250px, none, none);
    @include espacios (1000px, none);
}

.contacto-container .subtitulo {
    font-family: $cuerpo;
    color: $color-principal;
    font-style: italic;
    display: inline-block;;
    @include margenes (none, none, 740px, none, none);
    font-size: map-get($fuentes, 20px);
}

.contacto-container .form {
    border-radius: 10px;
}

.form-container {
    display: flex;
    justify-content: $posicion;
}

.form-container {
    display: flex;
    flex-direction: $direccion-secundaria;
    clear: both;
    float: left;
    border: $color-principal 2px solid;
    @include margenes (15px, 15px, 740px, 25px, 15px);
    @include espacios (1000px, none);
}


.write {
    display: flex;
    flex-direction: $direccion-principal;
    clear: both;
    float: left;
    border: $color-principal 2px solid;
    @include margenes (15px, 15px, 740px, 5px, 15px);
    @include espacios (1000px, none);
}

.write iframe {
    @include espacios (970px, 600px);
}

.write p {
    font-family: $cuerpo;
    color: $color-principal;
}

.form-label1,.form-label2 {
    align-items: end;
}

.subtitulo h2 {
    font-family: $cuerpo;
    font-style: italic;
    display: inline-block;
    @include margenes (none, 0.5px, 10px, none, none);
}

.img-container {
    display: flex;
    flex-direction: $direccion-secundaria;
    clear: both;
    @include margenes (none, none, 35px, 25px, none);
    @include espacios (300px, none);
}

.img-container .img img {
    float: left;
    border: $color-principal 2px solid;
    @include margenes (15px, 15px, 15px, 15px, 15px);
    @include espacios (1200px, 1200px);
}