/*footer gral - igual en todos las secciones*/
footer {
    background-color: $color-fondo;
    display: flex;
    font-size: 350px;
    flex-flow: wrap;
    margin-top: 10px;
    align-items: $posicion;
    justify-content: $posicion;
    flex-direction: $direccion-principal;
}

.network-links {
    p {
        display: flex;
        flex-direction: $direccion-principal;
        color: $color-principal;
        text-decoration: $decoracion;
        list-style: $decoracion;
        align-items: $posicion;
        font-size: 1.5rem;
        @include margenes (120px, none, none, none, none);
    }

    a {
        display: inline-block;
        color: $color-principal;
        text-decoration: $decoracion;
        list-style: $decoracion;
        align-items: $posicion;
        @include margenes (60px, none, none, none, none);

        i {
            display: flex;
            float: left;
            justify-content: $posicion;
            align-items: $posicion;
            align-content: $posicion;
            @include margenes (none, none, 40px, 55px, none);

            &:hover {
                background-color: none;
                color: $color-hover;
            }
        }
    }
}


.fa-brands .fa-linkedin-in {
    justify-content: $posicion;

}

.navigation-end {
    display: flex;
    flex-direction: $direccion-principal;
    @include margenes (20px, none, none, none, none);

    img {
        background-color: none;
        display: flex;
        justify-content: $posicion;
        flex-direction: $direccion-principal;
        align-items: $posicion;
        @include margenes (30px, none, none, none, none);
        @include espacios (15rem, none);
    }

    ul {
        li {
            list-style: $decoracion;
            @include margenes (3rem, none, none, none, none);

            a {
                color: $color-principal;
                text-decoration: $decoracion;
                font-size: 2rem;

                &:hover {
                    background-color: none;
                    color: $color-hover;
                }
            }
        }
    }
}

.copyright {
    p {
        display: flex;
        color: $color-principal;
        @include margenes (160px, none, none, none, none);
        font-size: 1.5rem;
    }
}