/*footer gral - igual en todos las secciones*/
footer {
    background-color: $color-fondo;
    display: flex;
    font-size: 350px;
    flex-flow: wrap;
    margin-top: 10px;
    align-items: $posicion;
    justify-content: $posicion;
    flex-direction: $direccion-principal;
}

.network-links p {
    display: flex;
    flex-direction: $direccion-principal;
    color: $color-principal;
    text-decoration: $decoracion;
    list-style: $decoracion;
    margin-top: 120px;
    align-items: $posicion;
    font-size: 50px;
}

.network-links a {
    display: inline-block;
    color: $color-principal;
    text-decoration: $decoracion;
    list-style: $decoracion;
    margin-top: 60px;
    align-items: $posicion;
}

.network-links a i {
    display: flex;
    float: left;
    font-size: 60px;
    justify-content: $posicion;
    align-items: $posicion;
    align-content: $posicion;
    margin-left: 40px;
    margin-right: 55px;

}

.fa-brands .fa-linkedin-in {
    justify-content: $posicion;

}

.navigation-end {
    display: flex;
    flex-direction: $direccion-principal;
    margin-top: 20px;
    font-size: 65px;
}

.navigation-end img {
    background-color: $color-fondo;
    width: 350px;
    display: flex;
    justify-content: $posicion;
    flex-direction: $direccion-principal;
    align-items: $posicion;
    margin-top: 30px;
}

.navigation-end li {
    list-style: $decoracion;
    margin-top: 50px;
}

.navigation-end li a {
    color: $color-principal;
    text-decoration: $decoracion;
    font-size: 45px;
}

.copyright p {
    display: flex;
    color: $color-principal;
    margin-top: 160px;
    font-size: 45px;

}