/*footer gral - igual en todos las secciones*/
footer {
    background-color: $color-fondo;
    display: flex;
    font-size: 350px;
    flex-flow: wrap;
    margin-top: 10px;
    align-items: $posicion;
    justify-content: $posicion;
    flex-direction: $direccion-principal;
    background-image: linear-gradient(to top, rgb(134, 119, 96), $color-fondo);
}

.network-links p {
    display: flex;
    flex-direction: $direccion-principal;
    color: $color-principal;
    text-decoration: $decoracion;
    list-style: $decoracion;
    align-items: $posicion;
    font-size: map-get($fuentes, 50px);
    @include margenes (120px, none, none, none, none);
}

.network-links a {
    display: inline-block;
    color: $color-principal;
    text-decoration: $decoracion;
    list-style: $decoracion;
    align-items: $posicion;
    @include margenes (60px, none, none, none, none);
}

.network-links a i {
    display: flex;
    float: left;
    font-size: map-get($fuentes, 60px);
    justify-content: $posicion;
    align-items: $posicion;
    align-content: $posicion;
    @include margenes (none, none, 40px, 55px, none);
}

.fa-brands .fa-linkedin-in {
    justify-content: $posicion;

}

.navigation-end {
    display: flex;
    flex-direction: $direccion-principal;
    @include margenes (20px, none, none, none, none);
    font-size: map-get($fuentes, 60px);
}

.navigation-end img {
    background-color: none;
    display: flex;
    justify-content: $posicion;
    flex-direction: $direccion-principal;
    align-items: $posicion;
    @include margenes (30px, none, none, none, none);
    @include espacios (300px, none);
}

.navigation-end li {
    list-style: $decoracion;
    @include margenes (50px, none, none, none, none);
}

.navigation-end li a {
    color: $color-principal;
    text-decoration: $decoracion;
    font-size: map-get($fuentes, 50px);
}

.copyright p {
    display: flex;
    color: $color-principal;
    @include margenes (160px, none, none, none, none);
    font-size: map-get($fuentes, 50px);

}