/*HEADER / Nav-bar - igual en todas las secciones*/
header {
    @include espacios (100%, none);
}

.navigation-container {
    background-image: linear-gradient(to bottom, rgb(134, 119, 96), $color-fondo);
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    font-size: map-get($fuentes, 4rem);
    @include margenes (none, 5px, none, none, 10px);

    img {
        display: flex;
        color: $color-principal;
        @include espacios (25rem, 3rem);
        @include margenes (0.5rem, none, 2rem, none, none);
    }

    .nav-bar {
        display: flex;
        list-style: $decoracion;
        text-decoration: $decoracion;
        flex-direction: $direccion-secundaria;
        font-size: map-get($fuentes, 5rem);
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
        width: 100%;

        li {
            a {
                justify-content: space-between;
                color: $color-principal;
                text-decoration: $decoracion;
                list-style: $decoracion;
                font-size: map-get($fuentes, 5rem);
                width: fit-content;
                display: flex;
                justify-content: end;
                @include margenes (5px, none, 15px, 25px, 10px);
                border-radius: 30px;

                &:hover {
                    background-color: $color-secundario;
                    color: $color-hover;
                }
            }
        }
    }
}

.scale-up-left {
    -webkit-animation: scale-up-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.logotype {
    display: flex;
    flex-direction: $direccion-principal;
    justify-content: $posicion;
    align-items: $posicion;
    background-image: url(../images/background-image2.png);
    background-size: cover;
    background-position: $posicion;

    img {
        @include espacios (250px, none);
    }

    a {
        color: $color-principal;
        text-decoration: $decoracion;

        i {
            color: $color-principal;
            text-decoration: $decoracion;
            @include margenes (40px, none, none, none, none);
            font-size: map-get($fuentes, 5rem);
        }
    }
}

h1 {
    display: flex;
    font-family: $titulo-principal;
    color: $color-secundario;
    font-style: italic;
    font-size: map-get($fuentes, 5rem);
    @include margenes (40px, none, none, none, none);
    align-content: $posicion;
    justify-content: $posicion;
}

h2 {
    display: flex;
    font-family: $cuerpo;
    color: $color-secundario;
    font-style: normal;
    font-size: map-get($fuentes, 4rem);
    @include margenes (10px, none, none, none, none);
    align-content: $posicion;
    justify-content: $posicion;
}