//tipografias
$titulo-principal: "Metal", serif;
$cuerpo: "Petrona", serif;
$btn: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//colores
$color-fondo: #C2BAAD;
$color-principal: #f5fffa;
$color-secundario: #e4e4e4;
$color-hover: #79aab5;
$btn-hover: #787673;
$fondo-mq-tablet: #a39a88;
$fondo-mq-telefono: #6c8b93;

//otros parametros
$decoracion: none; 
$posicion: center;
$direccion-principal: column;
$direccion-secundaria: row;