/* Index / Servicios  */
@media (min-width: 401px) and (max-width: 768px) {


    /*Header*/
    .navigation-container {
        background-color: $fondo-mq-telefono;
        flex-direction: $direccion-principal;

    }

    .navigation-container img {
        @include espacios (150px, none);
        @include margenes (none, none, 150px, none, none);
    }

    .navigation-container .nav-bar {
        @include margenes (10px, none, none, none, 0.5px);

    }

    .navigation-container .nav-bar li a {
        font-size: 12.5px;
        justify-content: $posicion;

    }

    .navigation-container .nav-bar li a:hover {
        background-color: $color-principal;
        color: $fondo-mq-telefono;
    }

    .logotype img {
        @include espacios (100px, none);
    }

    .logotype a i {
        font-size: map-get($fuentes, 40px);
        @include margenes (30px, none, none, none, none);
    }

    h1 {
        font-size: map-get($fuentes, 20px);
        align-content: $posicion;
        justify-content: $posicion;
        @include margenes (30px, none, 20px, none, none);
    }

    h2 {
        font-size: map-get($fuentes, 20px);
    }

    /*MainIndex*/
    main {
        background-color: $fondo-mq-telefono;
    }

    .start-interaction a {
        font-size: map-get($fuentes, 20px);
        font-weight: 120px;
    }

    .start-interaction a button {
        @include espacios (130px, 40px);
    }

    .presentacion {
        flex-direction: column-reverse;
        @include espacios (370px, 350px);
    }

    .presentacion .img {
        @include espacios (50%, none);
    }

    .presentacion .img img {
        border-radius: 5px;
        border: $color-principal 1px solid;
        @include espacios (350px, 250px);
        @include margenes (0px, 5px, 15px, none, 5px);
    }

    .producto-info {
        @include espacios (50%, none);
        border-radius: 0px 7px 10px 7px;
        background: $color-principal;
        background-color: $fondo-mq-telefono;
    }

    .producto-texto {
        @include espacios (100%, none);
    }

    .producto-texto h1 {
        font-size: map-get($fuentes, 20px);
        align-items: $posicion;
        @include margenes (none, none, 30px, none, 0px);
    }


    .producto-texto p {
        display: none;
    }

    .precio-btn {
        display: none;

    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 400px;
        grid-gap: 20px;
        @include margenes (none, none, none, none, 20px);
    }

    .gallery__img {
        object-fit: cover;
        @include espacios (100%, 100%);
    }

    .gallery__item:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .gallery__item:nth-child(4) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .gallery__item:nth-child(5) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }


    .services-options-container a {
        font-size: map-get($fuentes, 20px);
        @include espacios (150px, 30px);
    }

    .services-options h5 {
        font-size: map-get($fuentes, 30px);
    }


    .services-options .paisajes {
        font-size: map-get($fuentes, 30px);
        @include espacios (370px, 200px);
        @include margenes (none, none, 18px, none, none);
    }

    .services-options .paisajes:hover {
        transform: scale(0.9);
    }

    .services-options .acrobacias {
        font-size: map-get($fuentes, 30px);
        @include espacios (370px, 200px);

    }

    .services-options .acrobacias:hover {
        transform: scale(0.9);
    }

    .services-options .animales {
        font-size: map-get($fuentes, 30px);
        @include espacios (370px, 200px);
    }

    .services-options .animales:hover {
        transform: scale(0.9);
    }

    .decorative-picture {
        flex-direction: $direccion-principal;
        @include espacios (150px, none);

    }

    .decorative-picture .service-one {
        border: 1.5px solid $color-principal;
        @include espacios (360px, 450px);
        @include margenes (none, none, -15px, none, 5px);
    }

    .decorative-picture .service-two {
        border: 1.5px solid $color-principal;
        @include espacios (360px, 450px);
        @include margenes (none, none, -15px, none, 5px);
    }

    .decorative-picture .service-three {
        border: 1.5px solid $color-principal;
        @include espacios (360px, 450px);
        @include margenes (none, none, -15px, none, 5px);
    }

    .decorative-picture .service-four {
        border: 1.5px solid $color-principal;
        @include espacios (360px, 230px);
        @include margenes (none, none, -15px, none, 5px);
    }

    /*servicios*/
    .button__sections__lugares {
        background-size: 860px 350px;
        text-align: $posicion;
        color: $color-principal;
        @include margenes (0px, none, none, none, 130px);
    }

    .button__sections__lugares p {
        font-size: map-get($fuentes, 30px);
        text-align: $posicion;
    }


    .button__sections__lugares a {
        font-size: map-get($fuentes, 20px);
        @include espacios (150px, 30px);
        @include margenes (none, none, 10px, none, none);
    }


    .button__sections__arquitectura {
        background-size: 860px 350px;
        text-align: $posicion;
        color: $color-principal;
        @include margenes (0px, none, none, none, 130px);
    }

    .button__sections__arquitectura p {
        font-size: map-get($fuentes, 30px);
        text-align: $posicion;
    }


    .button__sections__arquitectura a {
        font-size: map-get($fuentes, 20px);
        @include espacios (150px, 30px);
        @include margenes (none, none, 10px, none, none);
    }


    .button__sections__acrobacias {
        background-size: 860px 350px;
        text-align: $posicion;
        color: $color-principal;
        @include margenes (0px, none, none, none, 130px);
    }

    .button__sections__acrobacias p {
        font-size: map-get($fuentes, 30px);
        text-align: $posicion;
    }


    .button__sections__acrobacias a {
        font-size: map-get($fuentes, 20px);
        @include espacios (150px, 30px);
        @include margenes (none, none, 10px, none, none);
    }

    .button__sections__animales {
        background-size: 860px 350px;
        text-align: $posicion;
        color: $color-principal;
        @include espacios (none, 100%);
        @include margenes (0px, none, none, none, 130px);
    }

    .button__sections__animales p {
        font-size: map-get($fuentes, 30px);
        text-align: $posicion;
    }


    .button__sections__animales a {
        font-size: map-get($fuentes, 20px);
        @include espacios (150px, 30px);
        @include margenes (none, none, 10px, none, none);
    }

    /*galeria*/
    .button__gallery {
        max-width: 350px;
        @include espacios (none, 100%);
        @include margenes (10px, none, 20px, none, none);
    }

    .button__gallery a {
        font-size: map-get($fuentes, 20px);
        @include espacios (300px, 50px);
    }

    .gallery-container-two {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
        max-width: 100%;
        @include margenes (none, none, 5px, none, 0.5px);
    }

    .carousel-inner {
        @include margenes (none, none, none, 20px, 15px);
    }

    /*blog*/
    .bar-container h2 {
        font-size: map-get($fuentes, 30px);
        @include margenes (15px, none, none, none, none);
    }

    .bar-principal {
        flex-direction: $direccion-principal;
    }

    .bar-principal select {
        font-size: map-get($fuentes, 20px);
        @include margenes (15px, none, -3px, none, none);
    }

    .bar-principal form {
        @include margenes (5px, none, 0px, none, none);
    }

    .bar-principal form p input {
        @include espacios (385px, none);
        @include margenes (5px, none, 5px, none, none);
    }

    .card {
        @include espacios (350px, 650px);
        @include margenes (15px, 15px, 15px, 15px, none);
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .card-body p {
        font-size: map-get($fuentes, 20px);
    }

    .card img {
        @include espacios (350px, 200px);
    }

    /*contacto*/
    .contacto-container {
        @include margenes (none, none, 0px, none, none);
    }

    .contacto-container .subtitulo {
        font-size: map-get($fuentes, 30px);
    }

    .form-container {
        @include espacios (370px, none);
        @include margenes (none, none, none, 0.5px, none);
    }

    .form-case {
        font-size: map-get($fuentes, 20px);
    }

    .write {
        @include espacios (370px, none);
    }

    .write p {
        font-size: map-get($fuentes, 20px);
    }


    .write iframe {
        @include espacios (300px, 200px);
    }


    .subtitulo h2 {
        font-size: map-get($fuentes, 20px);
    }

    .col-lg-12 button {
        font-size: map-get($fuentes, 20px);
        @include espacios (100px, 50px);
    }

    .img-container .img img {
        @include espacios (370px, 370px);
        @include margenes (none, none,-15px, none, 5px);
    }

    /*footer gral - igual en todos las secciones*/
    footer {
        background-color: $fondo-mq-telefono;
        font-size: 150px;
        @include margenes (8px, none, none, none, none);
    }

    .network-links p {
        font-size: map-get($fuentes, 30px);
    }

    .network-links a i {
        font-size: map-get($fuentes, 30px);
    }

    .fa-brands .fa-linkedin-in {
        justify-content: $posicion;

    }

    .navigation-end {
        margin-top: 15px;
        font-size: map-get($fuentes, 20px);
        @include margenes (15px, none, none, none, none);
    }

    .navigation-end img {
        background-color: $fondo-mq-telefono;
        @include espacios (150px, none);
        @include margenes (25px, none, none, none, none);
    }

    .navigation-end li {
        @include margenes (30px, none, none, none, none);
    }

    .navigation-end li a {
        font-size: map-get($fuentes, 20px);
    }

    .copyright p {
        display: flex;
        color: $color-principal;
        font-size: map-get($fuentes, 20px);
    }
}