/* Index / Servicios  */
@media (min-width: 401px) and (max-width: 768px) {

    /*Header*/
    .navigation-container {
        background-size: cover;
        flex-direction: $direccion-principal;
        background-image: linear-gradient(to top, rgb(121, 170, 181), rgb(202, 223, 227));

        img {
            color: $color-principal;
            justify-content: $posicion;
            @include margenes (1.5rem, 1.5rem, 6rem, none, none);
            @include espacios (10rem, 1.8rem);
        }

        .nav-bar {
            width: 80%;
            flex-direction: column;
            align-items: start;

            ul {
                margin-left: 0;
                margin-right: 0;

                li {
                    a {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }

    .logotype {
        img {
            @include espacios (25%, none);
        }
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.75rem;
    }

    /*Main*/
    main {
        background-image: linear-gradient(to top, rgb(202, 223, 227), rgb(121, 170, 181));
    }

    .start-interaction {
        button {
            width: 15rem;
            height: 2rem;
        }

        p {
            font-size: 0.5rem;
            font-weight: none;
        }
    }

    .presentacion-container {
        .presentacion {
            @include espacios (23rem, 38rem);
            padding: 0;
            flex-direction: column;
            background-color: $tarjeta-presentacion-mobile;

            .img {
                @include espacios (20rem, 10rem);

                img {
                    border-radius: 0.5px;
                    border: $color-principal 1px solid;
                    @include margenes (100px, 5px, 15px, none, 5px);
                    @include espacios (21.5rem, 14rem);
                }
            }

            .producto-info {
                border-radius: 0px 7px 10px 7px;
                background: none;
                background-color: none;
                @include espacios (50%, none);

                .producto-texto {
                    @include espacios (100%, 100%);

                    h1 {
                        font-size: 1rem;
                        align-items: $posicion;
                        @include margenes (5rem, none, 5px, none, 5px);
                        @include espacios (22rem, none);
                    }

                    p {
                        font-size: 0.80rem;
                        @include margenes (1rem, none, 0.5rem, none, none);
                        @include espacios (22rem, none);
                    }
                }

                .precio-btn {
                    display: none;
                }
            }
        }
    }

    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15rem;
        grid-gap: 1rem;
        @include margenes (none, none, 0rem, none, 1.5rem);
    }

    .gallery__img {
        object-fit: cover;
        @include espacios (100%, 100%);
    }

    .gallery__item:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .gallery__item:nth-child(4) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .gallery__item:nth-child(5) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .services-options-container {
        a {
            height: 30px;
            width: 200px;
            font-size: map-get($fuentes, 3rem);
            @include espacios (200px, 30px);
        }
    }

    .services-options {
        h5 {
            font-size: 2rem;
        }

        .paisajes {
            font-size: 2rem;
            float: none;
            transition: 0.5s;
            @include espacios (22rem, 10rem);
            @include margenes (none, none, 1.5rem, 0, 1rem);

            &:hover {
                transform: scale(0.9);
            }
        }

        .acrobacias {
            font-size: 2rem;
            float: none;
            transition: 0.5s;
            @include espacios (22rem, 10rem);
            @include margenes (none, none, 1.5rem, 0, 1rem);

            &:hover {
                transform: scale(0.9);
            }
        }

        .animales {
            font-size: 2rem;
            float: none;
            transition: 0.5s;
            @include espacios (22rem, 10rem);
            @include margenes (none, none, 1.5rem, 0, 1rem);

            &:hover {
                transform: scale(0.9);
            }
        }
    }

    .decorative-picture {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
        margin: 0;
        @include margenes (1rem, 1rem, 2.5rem, 0rem, 0rem);

        .service-one {
            @include espacios (22rem, 28rem);
            @include margenes (none, none, -0.7rem, none, none);
        }

        .service-two {
            @include espacios (22rem, 28rem);
            @include margenes (none, none, -0.7rem, none, none);
        }

        .service-three {
            @include espacios (22rem, 28rem);
            @include margenes (none, none, -0.7rem, none, none);
        }

        .service-four {
            @include espacios (22rem, 28rem);
            @include margenes (none, none, -0.7rem, none, none);
        }
    }

    /*servicios*/
    .button {
        &__sections {
            &__lugares {
                padding: 5rem;
                p {
                    font-size: 2rem;
                    padding: 5rem;
                }

                a {
                    padding: 0.05rem;
                    @include espacios (13rem, 3rem);
                    @include margenes (-5rem, none, 3rem, none, none);
                }
            }

            &__arquitectura {
                padding: 5rem;

                p {
                    font-size: 2rem;
                    padding: 5rem;
                }

                a {
                    padding: 0.05rem;
                    @include espacios (13rem, 3rem);
                    @include margenes (-5rem, none, 3rem, none, none);
                }
            }

            &__acrobacias {
                padding: 5rem;

                p {
                    font-size: 2rem;
                    padding: 5rem;
                }

                a {
                    padding: 0.05rem;
                    @include espacios (13rem, 3rem);
                    @include margenes (-5rem, none, 3rem, none, none);
                }
            }

            &__animales {
                padding: 5rem;

                p {
                    font-size: 2rem;
                    padding: 5rem;
                }

                a {
                    padding: 0.05rem;
                    @include espacios (13rem, 3rem);
                    @include margenes (-5rem, none, 3rem, none, none);
                }
            }
        }
    }

    /*galeria*/
    .button__gallery {
        @include espacios (350px, 100%);
        @include margenes (10px, none, 220px, none, none);

        a {
            font-size: map-get($fuentes, 2rem);
            @include espacios (20rem, 3rem);
            margin-left: -11rem;
        }
    }

    .gallery-container-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15rem;
        padding: 4rem;
        grid-gap: 20px;
        max-width: 100%;
        height: 100%;
        @include margenes (none, none, none, none, 10px);
    }

    .gallery {
        &__img {
            &__two {
                @include espacios (100%, 100%);
                object-fit: cover;

                &:hover {
                    transform: scale(0.9);
                }

                &:nth-child(1) {
                    @include grilla-galeria;
                }

                &:nth-child(4) {
                    @include grilla-galeria;
                }

                &:nth-child(5) {
                    @include grilla-galeria;
                }
            }
        }
    }

    .carousel-inner {
        @include margenes (none, none, none, 0, 0.05rem);
    }

    /*blog*/
    .bar-container {
        h2 {
            font-size: 1.2rem;
            @include margenes (1.5rem, none, none, none, none);
        }
    }

    .bar-principal {
        flex-direction: $direccion-principal;

        select {
            font-size: 1rem;
            margin-left: 1.5rem;
        }

        form {
            font-size: 1rem;
            margin-left: 1.6rem;

            p {
                input {
                    @include margenes (0.5rem, none, 7rem, none, none);
                    margin-left: 1.6rem;
                    @include espacios (20rem, none);
                }
            }
        }
    }

    .card {
        @include margenes (15px, 15px, 15px, 15px, 15px);
        @include espacios (20rem, 50rem);
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-body {
        p {
            font-size: map-get($fuentes, 2rem);
        }
    }

    .card img {
        @include espacios (18rem, 12.5rem);
    }

    /*contacto*/
    .contacto-container {
        @include espacios (100%, 100%);
        @include margenes (none, none, -40rem, none, 0.5rem);

        .subtitulo {
            font-size: 1rem;
            margin-left: 41.5rem;
            margin-right: 0;
            padding: 0;
        }
    }

    .form-container {
        @include espacios (21rem, none);
        @include margenes (none, none, 41.5rem, none, none);

        .form-case {
            @include espacios (18rem, none);

            .btn {
                @include espacios (18rem, none);
            }
        }
    }

    .write {
        @include espacios (21rem, auto);
        @include margenes (none, none, 41.5rem, none, none);


        iframe {
            @include espacios (15rem, none);
        }
    }

    .subtitulo {
        h2 {
            font-size: 1rem;
            margin-left: 41.5rem;
            margin-right: 0;
            padding: 0;
        }
    }

    .img-container {
        .img {
            img {
                @include espacios (21rem, auto);
                @include margenes (none, none, 0, none, none);
                align-items: center;
            }
        }
    }

    /*footer gral - igual en todos las secciones*/
    footer {
        background-image: linear-gradient(to top, rgb(121, 170, 181), rgb(202, 223, 227));
        background-color: $fondo-mq-tablet;
        font-size: 200px;
        @include margenes (8px, none, none, none, none);
    }

    .network-links {
        p {
            font-size: map-get($fuentes, 4rem);
            margin-top: 50px;
        }

        a {
            i {
                font-size: map-get($fuentes, 3rem);
            }
        }
    }

    .fa-brands {
        .fa-linkedin-in {
            justify-content: $posicion;
        }
    }

    .navigation-end {
        @include margenes (15px, none, none, none, none);
        font-size: map-get($fuentes, 3rem);

        img {
            background-color: none;
            @include espacios (200px, none);
            @include margenes (25px, none, none, none, none);
        }

        li {
            @include margenes (20px, none, none, none, none);

            a {
                font-size: map-get($fuentes, 3rem);
            }
        }
    }

    .copyright {
        p {
            display: flex;
            color: $color-principal;
            @include margenes (50px, none, none, none, none);
            font-size: map-get($fuentes, 3rem);
        }
    }
}