/* Index / Servicios  */
@media (min-width: 769px) and (max-width: 1200px) {

    /*Header*/
    .navigation-container {
        background-color: $btn-hover;
        background-size: cover;
        flex-direction: $direccion-principal;
    }

    .navigation-container img {
        color: $color-principal;
        justify-content:  $posicion;
        @include margenes (none, none, 260px, none, none); 
        @include espacios (300px, none);
    }

    .navigation-container .nav-bar li a {
        font-size: map-get($fuentes, 20px); 
        justify-content: $posicion;
        @include margenes (25px, none, none, 15px, none); 
    }

    .navigation-container .nav-bar li a:hover {
        background-color: $color-principal;
        color: $color-hover;
    }

    .logotype img {
        @include espacios (150px, none); 
    }

    .logotype a i {
        font-size: map-get($fuentes, 50px); 
        @include margenes (30px, none, none, none, none); 
    }

    h1 {
        font-size: map-get($fuentes, 30px); 
        align-content: $posicion;
        justify-content: $posicion;
        @include margenes (20px, none, 30px, none, none); 
    }

    h2 {
        font-size: map-get($fuentes, 20px); 
        align-content: $posicion;
        justify-content: $posicion;
        @include margenes (10px, none, none, none, none); 
    }

    /*MainIndex*/
    main {
        background-color: $fondo-mq-tablet;
    }

    .start-interaction p {
        font-size: map-get($fuentes, 20px); 
        font-weight: 170px;
    }

    .presentacion {
        @include espacios (740px, 500px); 
    }

    .presentacion .img {
        @include espacios (50%, none); 
    }

    .presentacion .img img {
        border-radius: 0.5px;
        border: $color-principal 1px solid;
        @include margenes (0px, 95px, 10px, none, 5px); 
        @include espacios (350px, 250px); 
    }

    .producto-info {
        border-radius: 0px 7px 10px 7px;
        background: $color-principal;
        background-color: $fondo-mq-tablet;
        @include espacios (50%, none); 
    }

    .producto-texto {
        @include espacios (100%, 100%); 
    }

    .producto-texto h1 {
        font-size: map-get($fuentes, 20px); 
        align-items: $posicion;
        @include margenes (none, none, 20px, none, 20px); 
    }


    .producto-texto p {
        font-size: map-get($fuentes, 20px); 
        @include margenes (10px, none, 10px, none, none); 
        @include espacios (none, 305px); 
    }

    .precio-btn {
        @include margenes (60px, none, 150px, none, none); 
        @include espacios (none, 200px); 

    }

    .precio-btn a {
        height: 30px;
        width: 100px;
        font-size: map-get($fuentes, 20px); 
    }

    button {
        height: 30px;
        width: 150px;
        font-size: map-get($fuentes, 20px); 
    }


    .gallery-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 720px;
        grid-gap: 20px;
        @include margenes (none, none, none, none, 25px); 
    }

    .gallery__img {
        object-fit: cover;
        @include espacios (100%, 100%);
    }

    .gallery__item:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .gallery__item:nth-child(4) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .gallery__item:nth-child(5) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }


    .services-options-container a {
        height: 30px;
        width: 200px;
        font-size: map-get($fuentes, 30px); 
        @include espacios (200px, 30px);
    }

    .services-options h5 {
        font-size: map-get($fuentes, 40px); 
    }


    .services-options .paisajes {
        font-size: map-get($fuentes, 40px); 
        float: none;
        transition: 0.5s;
        @include espacios (720px, 300px);
        @include margenes (none, none, 25px, none, none); 
    }

    .services-options .paisajes:hover {
        transform: scale(0.9);
    }

    .services-options .acrobacias {
        font-size: map-get($fuentes, 40px); 
        float: none;
        transition: 0.5s;
        @include espacios (720px, 300px);
        @include margenes (none, none, 25px, none, none); 
    }

    .services-options .acrobacias:hover {
        transform: scale(0.9);
    }

    .services-options .animales {
        font-size: map-get($fuentes, 40px); 
        float: none;
        transition: 0.5s;
        @include espacios (720px, 300px);
        @include margenes (none, none, 25px, none, none); 
    }

    .services-options .animales:hover {
        transform: scale(0.9);
    }

    .decorative-picture {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include espacios (50px, none);
    }

    .decorative-picture .service-one {
        @include espacios (350px, 450px);
        @include margenes (none, none, 0px, none, none); 
    }

    .decorative-picture .service-two {
        @include espacios (350px, 450px);
        @include margenes (none, none, 0px, none, none); 
    }

    .decorative-picture .service-three {
        @include espacios (350px, 450px);
        @include margenes (none, none, 0px, none, none); 
    }

    .decorative-picture .service-four {
        @include espacios (350px, 450px);
        @include margenes (none, none, 0px, none, none); 
    }

    /*servicios*/
    .button__sections__lugares {
        background-size: 900px 370px;
        text-align: $posicion;
        color: $color-principal;
        @include margenes (5px, none, none, none, 130px); 
    }

    .button__sections__lugares p {
        font-size: map-get($fuentes, 30px); 
        text-align: $posicion;
    }


    .button__sections__lugares a {
        text-align: $posicion;
        font-size: map-get($fuentes, 20px); 
        @include margenes (0px, none, 210px, none, none);
        @include espacios (200px, 30px);
    }


    .button__sections__arquitectura {
        background-size: 900px 370px;
        text-align: $posicion;
        color: $color-principal;
        @include margenes (5px, none, none, none, 130px); 
        
    }

    .button__sections__arquitectura p {
        font-size: map-get($fuentes, 30px);
        text-align: $posicion;
    }


    .button__sections__arquitectura a {
        text-align: $posicion;
        font-size: map-get($fuentes, 20px); 
        @include margenes (0px, none, 210px, none, none);
        @include espacios (200px, 30px);
    }


    .button__sections__acrobacias {
        background-size: 900px 370px;
        text-align: $posicion;
        color: $color-principal;
        @include margenes (5px, none, none, none, 130px); 
    }

    .button__sections__acrobacias p {
        font-size: map-get($fuentes, 30px); 
        text-align: $posicion;
    }


    .button__sections__acrobacias a {
        text-align: $posicion;
        font-size: map-get($fuentes, 20px); 
        @include margenes (0px, none, 210px, none, none);
        @include espacios (200px, 30px);
    }

    .button__sections__animales {
        background-size: 900px 370px;
        text-align: $posicion;
        color: $color-principal;
        @include margenes (5px, none, none, none, 130px);
    }

    .button__sections__animales p {
        font-size: map-get($fuentes, 30px); 
        text-align: $posicion;
    }


    .button__sections__animales a {
        text-align: $posicion;
        font-size: map-get($fuentes, 20px);
        @include espacios (200px, 30px);
        @include margenes (0px, none, 210px, none, none);
    }

    /*galeria*/
    .button__gallery {
        @include espacios (350px, 100%);
        @include margenes (10px, none, 220px, none, none);

    }

    .button__gallery a {
        font-size: map-get($fuentes, 20px);
        @include espacios (350px, 50px);
    }

    .gallery-container-two {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        max-width: 100%;
        @include margenes (none, none, none, none, 10px);

    }

    .carousel-inner {
        @include margenes (none, none, none, 20px, 15px);
    }

    /*blog*/
    .bar-container h2 {
        font-size: map-get($fuentes, 30px);
        @include margenes (15px, none, none, none, none);
    }

    .bar-principal {
        flex-direction: $direccion-principal;
    }

    .bar-principal select {
        font-size: map-get($fuentes, 20px);
        @include margenes (15px, none, -73px, none, none);
    }

    .bar-principal form {
        @include margenes (15px, none, 60px, none, none);
    }

    .bar-principal form p input {
        @include margenes (15px, none, 105px, none, none);
        @include espacios (400px, none);
    }

    .card {
        @include margenes (15px, 15px, 15px, 15px, 15px);
        @include espacios (350px, 700px);
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .card-body p {
        font-size: map-get($fuentes, 20px);
    }
    }

    .card img {
        @include espacios (350px, 200px);
    }

    /*contacto*/
    .contacto-container {
        @include margenes (none, none, 20px, none, none);
    }

    .contacto-container .subtitulo {
        font-size: map-get($fuentes, 40px);
    }

    .form-container {
        @include espacios (720px, none);
        @include margenes (none, none, none, 20px, none);
    }

    .write {
        @include espacios (720px, none);
    }

    .write iframe {
        @include espacios (700px, 500px);
    }


    .subtitulo h2 {
        font-size: map-get($fuentes, 40px);
    }

    .col-lg-12 button {
        font-size: map-get($fuentes, 20px);
        @include espacios (1500px, 50px);
    }

    .img-container .img img {
        @include espacios (720px, 720px);
        @include margenes (15px, none, 0px, none, 15px);
    }

    /*footer gral - igual en todos las secciones*/
    footer {
        background-color: $fondo-mq-tablet;
        font-size: 200px;
        @include margenes (8px, none, none, none, none);
    }

    .network-links p {
        font-size: map-get($fuentes, 40px);
    }

    .network-links a i {
        font-size: map-get($fuentes, 30px);
    }

    .fa-brands .fa-linkedin-in {
        justify-content: $posicion;

    }

    .navigation-end {
        @include margenes (15px, none, none, none, none);
        font-size: map-get($fuentes, 30px);
    }

    .navigation-end img {
        background-color: $fondo-mq-tablet;
        @include espacios (200px, none);
        @include margenes (25px, none, none, none, none);
    }

    .navigation-end li {
        @include margenes (30px, none, none, none, none);
    }

    .navigation-end li a {
        font-size: map-get($fuentes, 30px);
    }

    .copyright p {
        display: flex;
        color: $color-principal;
        @include margenes (160px, none, none, none, none);
        font-size: map-get($fuentes, 30px);
    }
