/* Index / Servicios  */
@media (min-width: 769px) and (max-width: 1200px) {

    /*Header*/
    .navigation-container {
        background-size: cover;
        flex-direction: $direccion-principal;
        background-image: linear-gradient(to top, rgb(158, 144, 122), rgb(213, 206, 195));

        img {
            color: $color-principal;
            justify-content: $posicion;
            @include margenes (1.5rem, 1.5rem, 16rem, none, none);
            @include espacios (15rem, 2.5rem);
        }

        .nav-bar {
            width: 90%;

            ul {
                margin-left: 0.05rem;
                margin-right: 0.05rem;
                padding: 0;

                li {
                    a {
                        font-size: map-get($fuentes, 2rem);
                        justify-content: $posicion;
                        @include margenes (none, none, 0.5rem, none, none);

                        &:hover {
                            background-color: $color-principal;
                            color: $color-hover;
                        }
                    }
                }
            }
        }
    }

    .logotype {
        img {
            @include espacios (25%, none);
        }

        a {
            i {
                font-size: map-get($fuentes, 3rem);
                @include margenes (30px, none, none, none, none);
            }
        }
    }

    h1 {
        font-size: 1.5rem;
        align-content: $posicion;
        justify-content: $posicion;
        @include margenes (10px, none, 30px, none, none);
    }

    h2 {
        font-size: 1rem;
        align-content: $posicion;
        justify-content: $posicion;
        @include margenes (10px, none, none, none, none);
    }

    /*Main*/
    main {
        background-image: linear-gradient(to top, rgb(213, 206, 195), rgb(158, 144, 122));
    }

    .start-interaction {
        button {
            width: 15rem;
            height: 2rem;
        }

        p {
            font-size: 0.5rem;
            font-weight: none;
        }
    }

    .presentacion-container {
        .presentacion {
            @include espacios (45rem, 20rem);
            padding: 0;

            .img {
                @include espacios (20rem, 15rem);

                img {
                    border-radius: 0.5px;
                    border: $color-principal 1px solid;
                    @include margenes (100px, 5px, 15px, none, 5px);
                    @include espacios (18rem, 12rem);
                }
            }

            .producto-info {
                border-radius: 0px 7px 10px 7px;
                background: none;
                background-color: none;
                @include espacios (50%, none);

                .producto-texto {
                    @include espacios (100%, 100%);

                    h1 {
                        font-size: 1rem;
                        align-items: $posicion;
                        @include margenes (none, none, 5px, none, 5px);
                    }

                    p {
                        font-size: 0.80rem;
                        @include margenes (10px, none, 10px, none, none);
                        @include espacios (none, none);
                    }
                }

                .precio-btn {
                    display: none;
                }
            }
        }
    }

    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 25rem;
        grid-gap: 1rem;
        @include margenes (none, none, 0rem, none, 1.5rem);
    }

    .gallery__img {
        object-fit: cover;
        @include espacios (100%, 100%);
    }

    .gallery__item:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .gallery__item:nth-child(4) {
        grid-column-start: span 2;
        grid-row-start: span 1;
    }

    .gallery__item:nth-child(5) {
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .services-options-container {
        a {
            height: 30px;
            width: 200px;
            font-size: map-get($fuentes, 3rem);
            @include espacios (200px, 30px);
        }
    }

    .services-options {
        h5 {
            font-size: 2rem;
        }

        .paisajes {
            font-size: 2rem;
            float: none;
            transition: 0.5s;
            @include espacios (40rem, 20rem);
            @include margenes (none, none, 4rem, 2rem, 1rem);

            &:hover {
                transform: scale(0.9);
            }
        }

        .acrobacias {
            font-size: 2rem;
            float: none;
            transition: 0.5s;
            @include espacios (40rem, 20rem);
            @include margenes (none, none, 4rem, 2rem, 1rem);

            &:hover {
                transform: scale(0.9);
            }
        }

        .animales {
            font-size: 2rem;
            float: none;
            transition: 0.5s;
            @include espacios (40rem, 20rem);
            @include margenes (none, none, 4rem, 2rem, 1rem);

            &:hover {
                transform: scale(0.9);
            }
        }
    }

    .decorative-picture {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        margin: 0;
        @include margenes (1rem, 1rem, 2.5rem, 0rem, 0rem);

        .service-one {
            @include espacios (20rem, 25rem);
            @include margenes (none, none, 0px, none, none);
        }

        .service-two {
            @include espacios (20rem, 25rem);
            @include margenes (none, 0px, 0px, none, none);
        }

        .service-three {
            @include espacios (20rem, 25rem);
            @include margenes (none, none, 0px, none, none);
        }

        .service-four {
            @include espacios (20rem, 25rem);
            @include margenes (none, none, 0px, none, none);
        }
    }

    /*servicios*/
    .button {
        &__sections {
            &__lugares {
                padding: 5rem;

                p {
                    font-size: 3rem;
                    padding: 5rem;
                }

                a {
                    padding: 0.05rem;
                    @include espacios (13rem, 3rem);
                    @include margenes (-5rem, none, 13rem, none, none);
                }
            }

            &__arquitectura {
                padding: 5rem;

                p {
                    font-size: 3rem;
                    padding: 5rem;
                }

                a {
                    padding: 0.05rem;
                    @include espacios (13rem, 3rem);
                    @include margenes (-5rem, none, 13rem, none, none);
                }
            }

            &__acrobacias {
                padding: 5rem;

                p {
                    font-size: 3rem;
                    padding: 5rem;
                }

                a {
                    padding: 0.05rem;
                    @include espacios (13rem, 3rem);
                    @include margenes (-5rem, none, 13rem, none, none);
                }
            }

            &__animales {
                padding: 5rem;

                p {
                    font-size: 3rem;
                    padding: 5rem;
                }

                a {
                    padding: 0.05rem;
                    @include espacios (13rem, 3rem);
                    @include margenes (-5rem, none, 13rem, none, none);
                }
            }
        }
    }

    /*galeria*/
    .button__gallery {
        @include espacios (350px, 100%);
        @include margenes (10px, none, 220px, none, none);

        a {
            font-size: map-get($fuentes, 2rem);
            @include espacios (350px, 50px);
        }
    }

    .gallery-container-two {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 20rem;
        padding: 4rem;
        grid-gap: 20px;
        max-width: 100%;
        height: 100%;
        @include margenes (none, none, none, none, 10px);
    }

    .gallery {
        &__img {
            &__two {
                @include espacios (100%, 100%);
                object-fit: cover;
                &:hover {
                    transform: scale(0.9);
                }
                &:nth-child(1) {
                    @include grilla-galeria;
                }
                &:nth-child(4) {
                    @include grilla-galeria;
                }
                &:nth-child(5) {
                    @include grilla-galeria;
                }
            }
        }
    }

    .carousel-inner {
        @include margenes (none, none, none, 0, 0.05rem);
    }

    /*blog*/
    .bar-container {
        h2 {
            font-size: 2rem;
            @include margenes (1.5rem, none, none, none, none);
        }
    }

    .bar-principal {
        flex-direction: $direccion-principal;

        select {
            font-size: 1.25rem;
            align-content: center;
            align-items: center;
        }

        form {
            @include margenes (0.5rem, none, 7rem, none, none);

            p {
                input {
                    @include margenes (0.5rem, none, 7rem, none, none);
                    @include espacios (400px, none);
                }
            }
        }
    }

    .card {
        @include margenes (15px, 15px, 15px, 15px, 15px);
        @include espacios (20rem, 50rem);
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-body {
        p {
            font-size: map-get($fuentes, 2rem);
        }
    }

    .card img {
        @include espacios (18rem, 12.5rem);
    }

    /*contacto*/
    .contacto-container {
        @include espacios (100%, 100%);
        @include margenes (none, none, -4rem, none, 0.5rem);

        .subtitulo {
            font-size: 2rem;
            width: 30rem;
        }
    }

    .form-container {
        @include espacios (40rem, none);
        @include margenes (none, none, none, -40rem, none);
    }

    .write {
        @include espacios (40rem, none);

        iframe {
            @include espacios (40rem, none);
        }
    }

    .subtitulo {
        h2 {
            font-size: 2rem;
        
        }
    }

    .col-lg-12 button {
        font-size: map-get($fuentes, 2rem);
        @include espacios (80rem, 30rem);
    }

    .img-container {
        .img {
            img {
                @include espacios (36rem, 20rem);
                @include margenes (none, none, none, 1rem, none);
                align-items: center;
            }
        }
    }

    /*footer gral - igual en todos las secciones*/
    footer {
        background-image: linear-gradient(to top, rgb(158, 144, 122), rgb(213, 206, 195));
        background-color: $fondo-mq-tablet;
        font-size: 200px;
        @include margenes (8px, none, none, none, none);
    }

    .network-links {
        p {
            font-size: map-get($fuentes, 4rem);
            margin-top: 50px;
        }

        a {
            i {
                font-size: map-get($fuentes, 3rem);
            }
        }
    }

    .fa-brands {
        .fa-linkedin-in {
            justify-content: $posicion;
        }
    }

    .navigation-end {
        @include margenes (15px, none, none, none, none);
        font-size: map-get($fuentes, 3rem);

        img {
            background-color: none;
            @include espacios (200px, none);
            @include margenes (25px, none, none, none, none);
        }

        li {
            @include margenes (20px, none, none, none, none);

            a {
                font-size: map-get($fuentes, 3rem);
            }
        }
    }

    .copyright {
        p {
            display: flex;
            color: $color-principal;
            @include margenes (50px, none, none, none, none);
            font-size: map-get($fuentes, 3rem);
        }
    }
}